{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
<div class="row">
    <div class="col">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Werbungsbranche auswählen</h5>
            </div>
            <div class="ibox-content">
                <select name="kategorien" id="kategorien" onchange="setTags();">
                    <option value="">Branche wählen</option>
                    <option value="apotheke">Apotheken-Kooperationen</option>
                    <option value="auto">Autohändler</option>
                    <option value="baecker">Bäckereiketten</option>
                    <option value="beauty">Beauty-Shops</option>
                    <option value="buch">Buchhändler</option>
                    <option value="computer">Computer-Fachmärkte</option>
                    <option value="nrw">Apotheken-Kooperationen</option>
                    <option value="damenMode">Damenmode</option>
                    <option value="nrw">Drogerien</option>
                    <option value="nrw">Fachmärkte für Wand/Boden</option>
                    <option value="nrw">Fahrrad-Shops</option>
                    <option value="nrw">Getränkemärkte</option>
                    <option value="nrw">Lebensmittel</option>
                    <option value="nrw">Möbelhändler</option>
                </select>
                <input type="hidden" id="tags" value="">
                <label id="tagsView"></label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Zielgruppe wählen</h5>
            </div>
            <div class="ibox-content">
                <select name="altersgruppen" id="altersgruppen">
                    <option value="">Altersgruppe wählen</option>
                    <option value="All">Alle</option>
                    <option value="0-2">0-2</option>
                    <option value="4-6">4-6</option>
                    <option value="8-12">8-12</option>
                    <option value="15-20">15-20</option>
                    <option value="25-32">25-32</option>
                    <option value="38-43">38-43</option>
                    <option value="48-53">48-53</option>
                    <option value="60-100">60-100</option>
                </select>
                <select name="geschlecht" id="geschlecht">
                    <option value="">Geschlecht wählen</option>
                    <option value="All">Alle</option>
                    <option value="Male">Männlich</option>
                    <option value="Female">Weiblich</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="drag-drop-area"></div>
    </div>
</div>
<script src="./scripts/media.js"></script>
<script>
function setTags()
{
    const category = document.getElementById('kategorien').options[document.getElementById('kategorien').selectedIndex].text;
    switch(category)
    {
        case 'Getränkemärkte':
            document.getElementById('tags').value = 'BOTTLE';
            document.getElementById('tagsView').innerHTML = 'Betrachtet werden folgende Objekte: Flaschen';
            break;
        case 'Fahrrad-Shops':
            document.getElementById('tags').value = 'BICYCLE';
            document.getElementById('tagsView').innerHTML = 'Betrachtet werden folgende Objekte: Fahrräder';
            break;
        case 'Lebensmittel':
            document.getElementById('tags').value = 'BANANA;APPLE;SANDWICH;ORANGE;BROCCOLI;CARROT;HOTDOG';
            document.getElementById('tagsView').innerHTML = 'Betrachtet werden folgende Objekte: Bananen, Äpfel, Brokkoli, Karotte, Orange ...';
            break;
    }
}
$(document).ready(function () {
    setupUppy();
});
</script>
{% endblock mainContainerContent %}