html, body {
    height: 100% !important;
    background-color: #ffffff;
}

.body-bg {
    background-color: #edf0f2;
    height: 100%;
}

.ui-state-default {
    background-color: #f3f3f4;
    color: black;
}
.panel {
    background-color: #f3f3f4;
    color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #1a7bb9;
    border-color: #1a7bb9;
}

.btn-primary {
    color: #fff;
    background-color: #1c84c6;
    border-color: #1c84c6;
}

.screenElementPanel {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    max-height: 200px;
    min-height: 200px;
    overflow: scroll;
    background: white;
}

.navbar-row {
    background-color: #edf0f2;
    border-bottom: 1px black solid;
}

.navbar-row-item {
    margin: 10px;
}

.iconButton i {
    padding-right: 10px;
}

.panel-playlist-track {
    margin: 20px;
}

.playlistTrack {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

#playlistTrack > div {
    float: none;
    height: 95%;
    width: 170px;
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #1c84c6;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    white-space: normal;
    margin-bottom: 10px;
}

.trashButton{
    border-radius: 5px 5px 0px 0px;
    width: 150px;
}

.ui-state-highlight {
    background-color: white;
    border-color: white;
}