html,
body {
  height: 100% !important;
  background-color: #282828;
}

[contenteditable]:focus {
  background-color: orange;
}

[contenteditable]:focus div {
  background-color: orange;
}

[contenteditable]:focus p {
  background-color: orange;
}


.default-textarea {
  height: 22px;
}


.body-bg {
  background-color: #282828;
}

.panel {
  background-color: #535353;
  color: white;
}

.ui-sortable {
  list-style-type: none;
  padding-left: unset;
  height: 275px;
  overflow-y: scroll;
}

.durationInput{
  width: 100%;
  font-size: small;
}

.expiredInput{
  width: 100%;
  font-size: small;
}


.ui-layer-state-default {
  background-color: #535353;
  border: black 1px solid;
  margin-top: 1px;
  padding-left: 10px;
  margin-left: 10px;
}

.ui-layer-state-default:hover {
  background-color: #8193ac;
  cursor: pointer;
}

.ui-layer-state-default-selected {
  background-color: #6d7d92;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.selected-element {
  outline: #007bff dashed 4px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.editor-container {
  margin: 5px;
}

.insert-element {
  height: 100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.insert-element:hover {
  opacity: 0.5;
}

.insert-element img{
  border-radius: 10px;
}

.insert-element-widget {
  background-color: #3e3e3e;
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.insert-element-widget:hover{
  background-color: #302f2f;
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.insert-element-widget p{
  padding-top: 33%;
  text-align: center;
}

.insert-tab-pane.active {
  overflow-x: auto;
  display: flex !important;
}

.insert-panel {
  background-color: #535353;
}

.layer-panel-ul {
  background-color: #3c3c3c;
  margin-left: 15px;
  width: 95% !important;
}

.panel-element {
  background-color: #3c3c3c;
}

.insert-panel button {
  color: white;
}

.editor-area {
  background-color: white;
  position: relative;
  height: 490px;
  width: 900px;
}

.btn-primary {
  color: black;
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.btn-primary:hover {
  color: black;
  background-color: #9c9b9b;
  border-color: #9c9b9b;
}

.btn-primary:active{
  background-color: #9c9b9b;
  border-color: #9c9b9b;
}

.btn-primary:focus {
  background-color: #9c9b9b;
  border-color: #9c9b9b;
}

.form-control-color{
  height: auto;
  padding: .375rem;
  max-width: 100%;
}

.grid {
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.alert-bottom {
  position: fixed;
  bottom: 5px;
  left:2%;
  width: 96%;
}

div.fullscreen {
  position: absolute;
  width:100%; 
  height:960px; 
  top: 0; 
  left: 0; 
  background-color: lightblue;
}

.alert-hide {
  display: none;
}

.alert {
  z-index: 9999;
}

.editor-area p{
  margin-top: 0;
  margin-bottom: 0 !important;
}


@media (min-width: 360px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -290px;
  }
}

@media (min-width: 414px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -260px;
  }
}

@media (min-width: 375px ) and (max-device-width: 413px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -280px;
  }
}

@media (min-width: 576px) {
  .editor-area {

    position: relative;
    height: 490px;
    width: 900px;
    left: -80px;
  }
}

@media (min-width: 768px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -80px;
  }
}

@media (min-width: 992px) {

  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: 30px;
  }

}

@media (min-width: 1200px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: 0px;
  }
}

.loadingScreen {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  z-index: 99999;
  opacity: 0.9;
}

.loadingScreen .spinner-border  {
  margin-left: 50%;
  margin-top: 25%;
}

.screenElementPanel{
  width: 100%;
  height: 100%;
  border: 1px solid white;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
}

.screenElement {
  height: 50px;
  width: 50px;
  margin: 5px
}

.screenElement img{
  height: 50px;
  width: 50px;
  border: 1px solid #1c84c6;
}

.topPanel {
  min-height: 270px;
}

/* Tooltip container */
.tooltipScreen {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipScreen .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 45px;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipScreen:hover .tooltiptext {
  visibility: visible;
}

#playlistTrack > div {

  float: left;
  height: 95%;
  width: 150px;
  margin-left: 15px;
  margin-top: 5px;

}

#playlistTrack div img {
  height: 100px;
  width: 150px;
  cursor: pointer;
}

.ui-state-highlight {
  background-color: white;
  border-color: white;
}

.ui-state-default {
  background-color: #535353;
  color: white;
}

.ui-state-default.ui-sortable-handle:hover {
  background-color:#c9c8c8;
}

.trashButton {
  width: 100%;
  cursor: default !important;
}

.trashButton:hover {
  cursor: default !important;
}

.expired-checkbox-label {
  margin-left: 5px;
}

.ui-sortable-helper {
  opacity: 0.6;
  cursor: move !important;
}

.expand-playlist-track-bottom{
  height: 320px;
}