{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="row pb-3">
                <div class="col-md-2">
                    <input class="form-control" id="searchGroup" placeholder="{{LanguageStrings.search}}" />
                </div>
            </div>
        </div>
        {% if PlayerList is empty  %}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    {{LanguageStrings.playerNotAdded}}
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                    <h1>{{LanguageStrings.player}}</h1>
                    <div class="row" id="playerContainer">
                        {% for player in PlayerList %}
                            <div class="col-lg-4 draggablePlayer" data-playerID="{{player.id}}">
                                <div class="ibox">
                                    <div class="ibox-title playerGroup">
                                        <h5 class="playerName">ID: {{player.playerKey}}</h5>
                                        <a class="float-right"data-toggle="modal" data-target="#removePlayerFromGroup_{{loop.index0}}"><i class="fas fa-times"></i><span class="nav-label"></span></a>
                                    </div>
                                    <div class="ibox-content ">
                                        <div class="team-members">
                                            <center>
                                                <h1>{{player.name}}</h1>
                                                {% if player.description is not empty %}
                                                    <h2>{{player.description}}</h2>
                                                {% else %}
                                                    <h2 class="playerDescription"></h2>
                                                {% endif %}
                                                {% if player.PlayerStatus == "active" %}
                                                    <a href="#"><img alt="member" data-toggle="tooltip" class="rounded-circle player" src="img/playeronline.png" title="{{LanguageStrings.activ}}"></a>
                                                {% elseif player.PlayerStatus == "noConnection" %}
                                                    <a href="#"><img alt="member" data-toggle="tooltip" class="rounded-circle player" src="img/playeroffline.png" title="{{LanguageStrings.notActiv}}"></a>
                                                {% elseif player.PlayerStatus == "notactive" %}
                                                    <td><span class="redDot" data-toggle="tooltip" data-placement="top" title="{{LanguageStrings.notActiv}}"></span></td>
                                                    <a href="#"><img alt="member" class="rounded-circle" src="img/a2.jpg"></a>
                                                {% endif %}
                                            </center>
                                            <h1>{{LanguageStrings.informations}}</h1>
                                            {% if player.activePlaylist is not null %}
                                                <p>{{LanguageStrings.activPlaylist}}: {{player.PlaylistName}}
                                                    <br>
                                                    {{LanguageStrings.activSince}}: {{player.lastChange|date("d.m.Y H:i")}}</p>
                                            {% elseif player.activeScreen is not empty %}
                                                <p>{{LanguageStrings.activScreen}}: {{player.name}}
                                                    <br>
                                                    {{LanguageStrings.activSince}}: {{player.lastChange|date("d.m.Y H:i")}}</p>
                                            {% else %}
                                                <h2 class="playerInformations">{{LanguageStrings.noInformation}}</h2>
                                            {% endif %}
                                        </div>
                                        <div class="btn-group mt-2" role="group">
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#deployToPlayer_{{loop.index0}}" type="button">
                                                <i class="fas fa-upload"></i>
                                                <a>{{LanguageStrings.publishContent}}</a>
                                            </button>
                                            <button class="btn btn-warning" data-toggle="modal" data-target="#removeFromPlayer_{{loop.index0}}">
                                                <i class="fas fa-ban"></i>
                                                <a>{{LanguageStrings.removeContent}}</a>
                                            </button>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#editPlayer_{{loop.index0}}" type="button">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#deletePlayer_{{loop.index0}}" type="button">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        {% endif %}
    </div>
    {% import _self as self %}
    {% for player in PlayerList %}
        {{ self.editPlayer(loop.index0,player,LanguageStrings) }}
        {{ self.deletePlayer(loop.index0,player,LanguageStrings) }}
        {{ self.deployToPlayer(loop.index0,player,app.user.playlists,app.user.screens,LanguageStrings) }}
        {{ self.removePlayerFromGroup(loop.index0,player,LanguageStrings)}}
        {{ self.removeFromPlayer(loop.index0,player,LanguageStrings) }}
    {% endfor %}

    <script src="./scripts/player.js"></script>
    <script>

        $(document).ready(function () {
            showPlayerTour();
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            $("#searchGroup").keyup(function ()
            {
                var player = $(".playerName");
                for(var i = 0; i < player.length; i++ )
                {
                    var html = $(player[i]).html();
                    html = html.toUpperCase();
                    var filter = this.value.toUpperCase();
                    var dd = html.indexOf(filter);

                    if (html.indexOf(filter) > -1)
                    {
                        player[i].parentElement.parentElement.parentElement.style.display = "";
                    }
                    else
                    {
                        player[i].parentElement.parentElement.parentElement.style.display = "none";
                    }
                }
            });
        });


    </script>
{% endblock mainContainerContent %}

{% macro editPlayer(index,player,LanguageStrings) %}
    <div class="modal fade" id="editPlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPlayer_{{index}}">({{player.name}}) - {{LanguageStrings.editPlayer}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div name="messages">
                        <div id="success_alert_modal_editPlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="error_alert_modal_editPlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                    </div>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-group-addon">{{LanguageStrings.playername}}</span>
                                </div>
                                <input type="text" class="form-control" id="playerName_{{index}}" name="playerName_{{index}}" value="{{player.name}}"/>
                                <div class="input-group-append"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-group-addon">{{LanguageStrings.description}}</span>
                                </div>
                                <input type="text" class="form-control" id="playerDescription_{{index}}" name="playerDescription_{{index}}" value="{{player.description}}"/>
                                <div class="input-group-append"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                    <button type="button" id="editPlayerButton_{{index}}" onclick="editPlayer('{{index}}','{{player.id}}')" class="btn btn-primary">{{LanguageStrings.save}}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro deletePlayer(index,player,LanguageStrings) %}
    <div class="modal fade" id="deletePlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePlayer_{{index}}">{{LanguageStrings.deletePlayer}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div name="messages">
                        <div id="success_alert_modal_deletePlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="error_alert_modal_deletePlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                        <center><div style="display:none;" id="deletePlayer_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
                    </div>
                    {{LanguageStrings.shouldDeletePlayer}}
                </div>
                <div class="modal-footer">
                    <button type="button" id="deletePlayerYesButton_{{index}}"  data-style="slide-left" onclick="deletePlayer('{{index}}','{{player.id}}')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
                    <button type="button" id="deletePlayerNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro deployToPlayer(index,player,playlists,screens,LanguageStrings) %}
    <div class="modal fade" id="deployToPlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deployToPlayer_{{index}}">{{LanguageStrings.activatePlaylist}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {% if playlists is empty %}
                        <div class="alert alert-info" role="alert">
                            {{LanguageStrings.youDontHavePlaylist|raw}}
                        </div>
                    {% else %}
                        <div name="messages">
                            <div id="success_alert_modal_deployToPlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                            <div id="error_alert_modal_deployToPlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                        </div>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-addon">{{LanguageStrings.playername}}</span>
                                    </div>
                                    <input type="text" disabled class="form-control" id="playerName" name="playerName" value="{{player.name}}"/>
                                </div>
                            </div>

                            <ul class="nav nav-tabs" id="screenPlaylistTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if player.activeScreen is not empty or player.activePlaylist is empty %} active {% endif %}" id="screen-tab" data-toggle="tab" href="#screenTab_{{index}}" role="tab" aria-controls="profile" aria-selected="false" onclick="togglePushButtons('screen','{{index}}')">{{LanguageStrings.screen}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if player.activePlaylist is not empty %} active {% endif %}" id="playlist-tab" data-toggle="tab" href="#playlistTab_{{index}}" role="tab" aria-controls="home" aria-selected="true" onclick="togglePushButtons('playlist','{{index}}')">{{LanguageStrings.playlist}}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade {% if player.activePlaylist is not empty %} show active {% endif %}" id="playlistTab_{{index}}" role="tabpanel" aria-labelledby="playlist-tab">
                                    <div class="form-group mt-2">
                                        <div class="input-group">
                                            <label for="deployToPlayerPlayliste_{{index}}">{{LanguageStrings.selectPlaylistToShow}}</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-group-addon">{{LanguageStrings.playlist}}</span>
                                            </div>
                                            <select class="form-control" id="deployToPlayerPlayliste_{{index}}" name="deployToPlayerPlayliste_{{index}}">
                                                {% for playlist in playlists %}
                                                    <option value="{{playlist.id}}" {% if player.activePlaylist == playlist %} selected {% endif %}> {{playlist.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade {% if player.activeScreen is not empty or player.activePlaylist is empty %} show active {% endif %}" id="screenTab_{{index}}" role="tabpanel" aria-labelledby="screen-tab">
                                    <div class="form-group mt-2">
                                        <div class="input-group">
                                            <label for="deployToPlayerScreen_{{index}}">{{LanguageStrings.selectScreenToShow}}</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text input-group-addon">{{LanguageStrings.screen}}</span>
                                            </div>
                                            <select class="form-control" id="deployToPlayerScreen_{{index}}" name="deployToPlayerScreen_{{index}}">
                                                {% for screen in screens %}
                                                    <option value="{{screen.id}}" {% if player.activeScreen == screen %} selected {% endif %}> {{screen.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                    <button type="button" id="deployPlaylistToPlayerButton_{{index}}" onclick="deployPlaylistToPlayer('{{index}}','{{player.id}}')" class="btn btn-primary" {% if player.activePlaylist is empty %} style="display:none;" {% endif %}>{{LanguageStrings.pushPlaylist}}</button>
                    <button type="button" id="deployScreenToPlayerButton_{{index}}" onclick="deployScreenToPlayer('{{index}}','{{player.id}}')" class="btn btn-primary" {% if player.activeScreen is empty and player.activePlaylist is not empty %} style="display:none;" {% endif %}>{{LanguageStrings.pushScreen}}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro removePlayerFromGroup(index,player,LanguageStrings) %}
    <div class="modal fade" id="removePlayerFromGroup_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removePlayerFromGroup_{{index}}">{{LanguageStrings.removePlayer}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div name="messages">
                        <div id="success_alert_modal_removePlayerFromGroup_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="error_alert_modal_removePlayerFromGroup_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                    </div>
                    {{LanguageStrings.shouldRemovePlayer}}
                </div>
                <div class="modal-footer">
                    <button type="button" id="removePlayerFromGroupYesButton_{{index}}"  data-style="slide-left" onclick="removePlayerFromGroup('{{index}}','{{player.id}}')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
                    <button type="button" id="removePlayerFromGroupNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro removeFromPlayer(index,player,LanguageStrings) %}
    <div class="modal fade" id="removeFromPlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeFromPlayer_{{index}}">{{LanguageStrings.removeContent}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div name="messages">
                        <div id="success_alert_modal_removeFromPlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="error_alert_modal_removeFromPlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                        <center><div style="display:none;" id="removeFromPlayer_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
                    </div>
                    {{LanguageStrings.shouldRemoveContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" id="removeFromPlayerYesButton_{{index}}"  data-style="slide-left" onclick="removeFromPlayer('{{index}}','{{player.id}}')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
                    <button type="button" id="removeFromPlayerNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}