{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
{% import _self as self %}
<div class="row">
    <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-2">
                <input class="form-control" id="searchGroup" placeholder="{{LanguageStrings.search}}" />
            </div>
            <div class="col">
                <div class="btn-toolbar float-right">
                    <div class="btn-group" role="group">
                        <button id="addPlayerButton" class="btn btn-success" data-toggle="modal" data-target="#addPlayer" type="button">{{LanguageStrings.addPlayer}}</button>
                        {% if app.user.subscription is not null and app.user.subscription.planName == PLAN_PRO %}
                        <button id="addPlayerGroupButton" class="btn btn-success" data-toggle="modal" data-target="#addPlayerGroup" type="button">{{LanguageStrings.addPlayerGroup}}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if app.user.subscription is not null and app.user.subscription.planName == PLAN_PRO and app.user.playerGroups|length > 0 %}
        <div class="col-md-12">
            <h1>{{LanguageStrings.myGroups}}</h1>
            <div class="row">
                {% for group in app.user.PlayerGroups|sort((a, b) => a.created < b.created) %}
                    <div class="col-lg-4 droppableGroup" data-playerGroupID = "{{group.id}}">
                        <div class="contact-box droppableGroup hoverGroup">
                            <a class="row clickbox" href="./playerGroup?PlayerGroupID={{group.id}}">
                                <div class="col-4">
                                    <div class="text-center">
                                        {% set playerCount = 0 %}
                                        {% if group.player|length > 0 %}
                                            {% set playerCount = group.player|length %}
                                        {% endif %}

                                        {% if playerCount > 0 and playerCount <= 9 %}
                                            <img alt="image" class="playerGroupIcon m-t-xs img-fluid" src="{{ asset('img/group/'~ playerCount ~'.png') }}">
                                        {% elseif playerCount > 9 %}
                                            <img alt="image" class="playerGroupIcon m-t-xs img-fluid" src="{{ asset('img/group/9.png') }}">
                                        {% else %}
                                            <img alt="image" class="playerGroupIcon m-t-xs img-fluid" src="{{ asset('img/group/0.png') }}">
                                        {% endif %}
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h1 class="playerGroupName">{{group.Name}}</h1>
                                    <h2> {{group.Description}} </h2>
                                    <h3 class="countNumberPlayer">{{LanguageStrings.numberOfPlayer}}:<p class="countPlayer">{{playerCount}}</p></h3>
                                </div>
                            </a>
                            <div class="btn-group mt-2" role="group">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#deployToPlayerGroup_{{loop.index0}}" type="button">
                                    <i class="fas fa-upload"></i>
                                    <a>{{LanguageStrings.publishContent}}</a>
                                </button>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#removeFromPlayerGroup_{{loop.index0}}">
                                    <i class="fas fa-ban"></i>
                                    <a>{{LanguageStrings.removeContent}}</a>
                                </button>
                                <button class="btn btn-primary iboxContentDroppable" data-toggle="modal" data-target="#editPlayerGroup_{{loop.index0}}" type="button"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger iboxContentDroppable" data-toggle="modal" data-target="#deletePlayerGroup_{{loop.index0}}" type="button"><i class="far fa-trash-alt"></i></button>
                            </div>
                            <div style="display:none;" class="iboxDroppableZone ">
                                <i class="fas fa-plus-square fa-3x dropZoneIconPlayer"></i>
                            </div>
                        </div>
                    </div>

                    {{ self.deployToPlayerGroup(loop.index0,group,app.user.playlists,app.user.screens,LanguageStrings)}}
                    {{ self.removeFromPlayerGroup(loop.index0,group,LanguageStrings)}}

                    {{ self.playerGroup(loop.index0,group,LanguageStrings)}}
                    {{ self.deletePlayerGroup(loop.index0,group,LanguageStrings)}}
                    {{ self.editPlayerGroup(loop.index0,group,LanguageStrings)}}
                {% endfor %}
            </div>
            <hr />
        </div>
    {% endif %}
    {% if app.user.players is empty %}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                {{LanguageStrings.playerNotAdded}}
            </div>
        </div>
    {% else %}
        <div class="col-md-12" id="playerContainerCol">
            <div class="row" id="playerContainer">
                {% for player in app.user.players|sort((a, b) => a.created < b.created) %}
                    {% if app.user.subscription.planName != PLAN_PRO or player.playerGroup is null %}
                        <div class="col-lg-4 {% if app.user.subscription.planName == PLAN_PRO %} draggablePlayer {% endif %}" data-playerID="{{player.id}}" >
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5 class="playerName">ID: {{player.playerKey}}</h5>
                                </div>
                                <div class="ibox-content ">
                                    <div class="team-members">
                                        <center>
                                            <h1 class="playerNameH1">{{player.name}}</h1>
                                            {% if player.description is not empty %}
                                                <h2>{{player.description}}</h2>
                                            {% else %}
                                                <h2 class="playerDescription"></h2>
                                            {% endif %}
                                            {% if player.PlayerStatus == "active" %}
                                                <a href="#"><img alt="member" data-toggle="tooltip" class="rounded-circle player" src="{{ asset('img/playeronline.png') }}" title="{{LanguageStrings.activ}}"></a>
                                            {% elseif player.PlayerStatus == "noConnection" %}
                                                <a href="#"><img alt="member" data-toggle="tooltip" class="rounded-circle player" src="{{ asset('img/playeroffline.png') }}" title="{{LanguageStrings.notActiv}}"></a>
                                            {% elseif player.PlayerStatus == "notactive" %}
                                                <td><span class="redDot" data-toggle="tooltip" data-placement="top" title="{{LanguageStrings.notActiv}}"></span></td>
                                                <a href="#"><img alt="member" class="rounded-circle" src="img/a2.jpg"></a>
                                            {% endif %}
                                        </center>
                                        <h1>{{LanguageStrings.informations}}</h1>
                                        {% if player.activePlaylist is not empty %}
                                            <p>{{LanguageStrings.activPlaylist}}: {{player.activePlaylist.name}}
                                            <br>
                                            {{LanguageStrings.activSince}}: {{player.lastChange|date("d.m.Y H:i")}}</p>
                                        {% elseif player.activeScreen is not empty %}
                                            <p>{{LanguageStrings.activScreen}}: {{player.activeScreen.name}}
                                            <br>
                                            {{LanguageStrings.activSince}}: {{player.lastChange|date("d.m.Y H:i")}}</p>
                                        {% else %}
                                            <h2 class="playerInformations">{{LanguageStrings.noInformation}}</h2>
                                        {% endif %}
                                    </div>
                                    <div class="btn-group mt-2" role="group">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#deployToPlayer_{{loop.index0}}" type="button">
                                            <i class="fas fa-upload"></i>
                                            <a>{{LanguageStrings.publishContent}}</a>
                                        </button>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#removeFromPlayer_{{loop.index0}}">
                                            <i class="fas fa-ban"></i>
                                            <a>{{LanguageStrings.removeContent}}</a>
                                        </button>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#editPlayer_{{loop.index0}}" type="button">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deletePlayer_{{loop.index0}}" type="button">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ self.editPlayer(loop.index0,player,LanguageStrings) }}
                        {{ self.deletePlayer(loop.index0,player,LanguageStrings) }}
                        {{ self.deployToPlayer(loop.index0,player,app.user.playlists,app.user.screens,LanguageStrings) }}
                        {{ self.removeFromPlayer(loop.index0,player,LanguageStrings) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<div class="modal fade" id="addPlayer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerLabel">{{LanguageStrings.addPlayer}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div name="messages">
                    <div id="success_alert_modal" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert_modal" class="alert alert-danger" role="alert" style="display:none;"></div>
                </div>
                {% if app.user.subscription is not null and app.user.subscription.validSubscription %}
                    {% set restQuantity = app.user.subscription.playerQuantity - app.user.players|length %}
                    {% if restQuantity > 0 %}
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="newPlayerNameId">{{LanguageStrings.playername}}*</label>
                                <input id="newPlayerNameId" name="newPlayerName" type="text" class="form-control"/>
                                <label class="pt-3" for="authKey">{{LanguageStrings.authenticationKey}}*</label>
                                <input id="authKey" name="authKey" type="text" class="form-control" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                                <button type="button"id="authPlayer" onclick="addPlayer({% if QRCodePlayerId is defined%} true {% endif %})" class="btn btn-primary">{{LanguageStrings.add}}</button>
                            </div>
                        </form>
                        {% else  %}
                            <div class="alert alert-info" role="alert">
                                {{LanguageStrings.youDontHaveAbonoments|raw}}
                            </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        {{LanguageStrings.youDontHaveAbonoments|raw}}
                    </div> 
                {% endif %}   
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addPlayerGroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerGroupLabel">{{LanguageStrings.addPlayerGroup}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div name="messages">
                    <div id="success_alert_modal_playerGroup" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert_modal_playerGroup" class="alert alert-danger" role="alert" style="display:none;"></div>
                </div>

                <div class="form-group">
                    <label>{{LanguageStrings.name}}</label> 
                    <input type="text" id="playerGroupName" placeholder="{{LanguageStrings.name}}" class="form-control">
                    <label class="mt-2">{{LanguageStrings.description}}</label> 
                    <input type="text" id="playerGroupDescription" placeholder="{{LanguageStrings.description}}" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                <button type="button" class="ladda-button btn btn-primary" data-style="slide-left" id="createPlayerGroup" onclick="createPlayerGroup()">{{LanguageStrings.add}}</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('/scripts/player.js') }}"></script>
<script>


    function setGroupCount(element)
    {
        var elementCountNumberPlayer = $(element).find(".countPlayer");
        var count = 0;
        if(elementCountNumberPlayer.length > 0)
        {
            var count = parseInt($(elementCountNumberPlayer[0]).html());
            count = count + 1;
            $(elementCountNumberPlayer[0]).html(count);
        }
        

        var elementImage = $(element).find(".playerGroupIcon");
        if(elementImage.length > 0)
        {
            
            if(count > 9)
            {
                count = 9;
            }
            var imgurl = "img/group/"+count+".png";
            elementImage[0].src = imgurl;
            
        }
    }

    $(document).ready(function(){

        showPlayerTour();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(".draggablePlayer").draggable({
            cancel: "a.ui-icon, .btn-group",
            revert: "invalid",
            tolerance: 'fit',
            //containment: "document",
            //helper: "clone",
            cursorAt:{
                top: 150,
                left: 18
            },
            helper: (event) =>
                $('<div class="tire-icon"></div>').append($('<i class="fas fas fa-desktop fa-3x draggableDraggingIcon"></i>')),
            start: function(event, ui) {
                
                $(".iboxContentDroppable").hide();
                $(".iboxDroppableZone").addClass("dropZoneForPlayer");
                $(".iboxDroppableZone").show();

            },
            stop: function() {
                $(".iboxContentDroppable").show();
                $(".iboxDroppableZone").removeClass("dropZoneForPlayer");
                $(".iboxDroppableZone").hide(); 
            }
        });

        $(".droppableGroup").droppable({
            classes: {
                "ui-droppable-active": "ee"
            },
            drop: function( event, ui ) {
                addPlayerToGroup(ui.draggable[0].dataset.playerid,this.dataset.playergroupid);
                
                var parent = ui.draggable[0].parentElement;
                if(parent !== null && parent !== undefined && ui.draggable[0] !== undefined)
                {
                    setGroupCount(this);
                    parent.removeChild(ui.draggable[0]);
                }
                
            }
        });

        $("#searchGroup").keyup(function ()
        {
            var goups = $(".playerGroupName");
            for(var i = 0; i < goups.length; i++ )
            {
                var html = $(goups[i]).html();
                html = html.toUpperCase();
                var filter = this.value.toUpperCase();
                var dd = html.indexOf(filter);

                if (html.indexOf(filter) > -1) 
                {
                    goups[i].parentElement.parentElement.parentElement.parentElement.parentElement.style.display = "";
                } 
                else 
                {
                    goups[i].parentElement.parentElement.parentElement.parentElement.parentElement.style.display = "none";
                }
            }

            var player = $(".playerNameH1");
            for(var i = 0; i < player.length; i++ )
            {
                var html = $(player[i]).html();
                html = html.toUpperCase();
                var filter = this.value.toUpperCase();
                var dd = html.indexOf(filter);

                if (html.indexOf(filter) > -1) 
                {
                    player[i].parentElement.parentElement.parentElement.parentElement.parentElement.style.display = "";
                } 
                else 
                {
                    player[i].parentElement.parentElement.parentElement.parentElement.parentElement.style.display = "none";
                }
            }
        });

        {% if QRCodePlayerId is defined%}
            $("#addPlayer").modal();
            $("#authKey").val("{{ QRCodePlayerId }}");
            $('#addPlayer').on('hidden.bs.modal', function () {
                window.location.href = '/player';
            });
        {% endif %}
    });
</script>
{% endblock mainContainerContent %}

{% macro editPlayer(index,player,LanguageStrings) %}
<div class="modal fade" id="editPlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editPlayer_{{index}}">({{player.name}}) - {{LanguageStrings.editPlayer}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div name="messages">
                <div id="success_alert_modal_editPlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                <div id="error_alert_modal_editPlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
            </div>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-addon">{{LanguageStrings.playername}}*</span>
                        </div>
                        <input type="text" class="form-control" id="playerName_{{index}}" name="playerName_{{index}}" value="{{player.name}}"/>
                        <div class="input-group-append"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-addon">{{LanguageStrings.description}}</span>
                        </div>
                            <input type="text" class="form-control" id="playerDescription_{{index}}" name="playerDescription_{{index}}" value="{{player.description}}"/>
                        <div class="input-group-append"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
            <button type="button" id="editPlayerButton_{{index}}" onclick="editPlayer('{{index}}','{{player.id}}')" class="btn btn-primary">{{LanguageStrings.save}}</button>
        </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro deletePlayer(index,player,LanguageStrings) %}
<div class="modal fade" id="deletePlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deletePlayer_{{index}}">{{LanguageStrings.deletePlayer}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div name="messages">
                <div id="success_alert_modal_deletePlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                <div id="error_alert_modal_deletePlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                <center><div style="display:none;" id="deletePlayer_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
            </div>
           {{LanguageStrings.shouldDeletePlayer}}
        </div>
        <div class="modal-footer">
            <button type="button" id="deletePlayerYesButton_{{index}}"  data-style="slide-left" onclick="deletePlayer('{{index}}','{{player.id}}')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
            <button type="button" id="deletePlayerNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
        </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro removeFromPlayer(index,player,LanguageStrings) %}
<div class="modal fade" id="removeFromPlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="removeFromPlayer_{{index}}">{{LanguageStrings.removeContent}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div name="messages">
                <div id="success_alert_modal_removeFromPlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                <div id="error_alert_modal_removeFromPlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                <center><div style="display:none;" id="removeFromPlayer_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
            </div>
           {{LanguageStrings.shouldRemoveContent}}
        </div>
        <div class="modal-footer">
            <button type="button" id="removeFromPlayerYesButton_{{index}}"  data-style="slide-left" onclick="removeFromPlayer('{{index}}','{{player.id}}')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
            <button type="button" id="removeFromPlayerNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
        </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro deployToPlayer(index,player,playlists,screens,LanguageStrings) %}
<div class="modal fade" id="deployToPlayer_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deployToPlayer_{{index}}">{{LanguageStrings.activatePlaylist}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div name="messages">
                <div id="success_alert_modal_deployToPlayer_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                <div id="error_alert_modal_deployToPlayer_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
            </div>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-addon">{{LanguageStrings.playername}}</span>
                        </div>
                        <input type="text" disabled class="form-control" id="playerName" name="playerName" value="{{player.name}}"/>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="screenPlaylistTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if player.activeScreen is not empty or player.activePlaylist is empty %} active {% endif %}" id="screen-tab" data-toggle="tab" href="#screenTab_{{index}}" role="tab" aria-controls="profile" aria-selected="false" onclick="togglePushButtons('screen','{{index}}')">{{LanguageStrings.screen}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if player.activePlaylist is not empty %} active {% endif %}" id="playlist-tab" data-toggle="tab" href="#playlistTab_{{index}}" role="tab" aria-controls="home" aria-selected="true" onclick="togglePushButtons('playlist','{{index}}')">{{LanguageStrings.playlist}}</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade {% if player.activePlaylist is not empty %} show active {% endif %}" id="playlistTab_{{index}}" role="tabpanel" aria-labelledby="playlist-tab">
                        {% if playlists is empty%}
                            <div class="alert alert-info" role="alert">
                                {{LanguageStrings.youDontHavePlaylist|raw}}
                            </div> 
                        {% else %}
                            <div class="form-group mt-2">
                                <div class="input-group">
                                    <label for="deployToPlayerPlayliste_{{index}}">{{LanguageStrings.selectPlaylistToShow}}</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-addon">{{LanguageStrings.playlist}}</span>
                                    </div>
                                    <select class="form-control" id="deployToPlayerPlayliste_{{index}}" name="deployToPlayerPlayliste_{{index}}">
                                        {% for playlist in playlists %}
                                            <option value="{{playlist.id}}" {% if player.activePlaylist == playlist %} selected {% endif %}> {{playlist.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade  {% if player.activeScreen is not empty or player.activePlaylist is empty %} show active {% endif %} " id="screenTab_{{index}}" role="tabpanel" aria-labelledby="screen-tab">
                        {% if screens is empty %}
                            <div class="alert alert-info" role="alert">
                                {{LanguageStrings.youDontHaveScreen|raw}}
                            </div> 
                        {% else %}
                            <div class="form-group mt-2">
                                <div class="input-group">
                                    <label for="deployToPlayerScreen_{{index}}">{{LanguageStrings.selectScreenToShow}}</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-addon">{{LanguageStrings.screen}}</span>
                                    </div>
                                    <select class="form-control" id="deployToPlayerScreen_{{index}}" name="deployToPlayerScreen_{{index}}">
                                        {% for screen in screens %}
                                            <option value="{{screen.id}}" {% if player.activeScreen is not empty and player.activeScreen.id == screen.id%} selected {% endif %}> {{screen.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
            <button type="button" id="deployPlaylistToPlayerButton_{{index}}" onclick="deployPlaylistToPlayer('{{index}}','{{player.id}}')" class="btn btn-primary" {% if player.activePlaylist is empty %} style="display:none;" {% endif %} >{{LanguageStrings.pushPlaylist}}</button>
            <button type="button" id="deployScreenToPlayerButton_{{index}}" onclick="deployScreenToPlayer('{{index}}','{{player.id}}')" class="btn btn-primary" {% if player.activeScreen is empty and player.activePlaylist is not empty %} style="display:none;" {% endif %}>{{LanguageStrings.pushScreen}}</button>
        </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro playerGroup(index,group,LanguageStrings) %}
<div class="modal fade" id="playerGroup_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="playerGroup_{{index}}">{{group.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="playerGroupModalContent_{{index}}">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                <button type="button" onclick="" class="btn btn-primary">{{LanguageStrings.save}}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro deletePlayerGroup(index,group,LanguageStrings) %}
<div class="modal fade" id="deletePlayerGroup_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePlayerGroup_{{index}}">{{LanguageStrings.deleteGroup}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div name="messages">
                    <div id="success_alert_modal_deletePlayerGroup_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert_modal_deletePlayerGroup_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                </div>
                {{LanguageStrings.shouldDeleteGroup}}
            </div>
            <div class="modal-footer">
                <button type="button" id="deletePlayerGroupYesButton_{{index}}" data-style="slide-left" onclick="deletePlayerGroup('{{index}}','{{group.id}}')" class="btn btn-danger ">{{LanguageStrings.yes}}</button>
                <button type="button" id="deletePlayerGroupNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro editPlayerGroup(index,group,LanguageStrings) %}
<div class="modal fade" id="editPlayerGroup_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPlayerGroup_{{index}}">{{LanguageStrings.editGroup}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div name="messages">
                    <div id="success_alert_modal_editPlayerGroup_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert_modal_editPlayerGroup_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                </div>
                <div class="form-group">
                    <label>{{LanguageStrings.name}}</label> 
                    <input type="text" id="editPlayerGroupName_{{index}}" placeholder="{{LanguageStrings.name}}" value="{{group.name}}" class="form-control">
                    <label class="mt-2">{{LanguageStrings.description}}</label> 
                    <input type="text" id="editPlayerGroupDescription_{{index}}" placeholder="{{LanguageStrings.description}}" value="{{group.description}}" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                <button type="button" id="editPlayerGroupSaveButton_{{index}}" onclick="editPlayerGroup('{{index}}','{{group.id}}')" class="btn btn-primary">{{LanguageStrings.save}}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro deployToPlayerGroup(index,group,playlists,screens,LanguageStrings) %}
<div class="modal fade" id="deployToPlayerGroup_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deployToPlayerGroup_{{index}}">{{LanguageStrings.activatePlaylist}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div name="messages">
                <div id="success_alert_modal_deployToPlayerGroup_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                <div id="error_alert_modal_deployToPlayerGroup_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
            </div>
            <form>
                <ul class="nav nav-tabs" id="screenPlaylistTabGroup" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link  active " id="screen-tab" data-toggle="tab" href="#screenTabGroup_{{index}}" role="tab" aria-controls="profile" aria-selected="false" onclick="togglePushButtonsGroup('screen','{{index}}')">{{LanguageStrings.screen}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="playlist-tab" data-toggle="tab" href="#playlistTabGroup_{{index}}" role="tab" aria-controls="home" aria-selected="true" onclick="togglePushButtonsGroup('playlist','{{index}}')">{{LanguageStrings.playlist}}</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  " id="playlistTabGroup_{{index}}" role="tabpanel" aria-labelledby="playlist-tab">
                        {% if playlists is empty%}
                            <div class="alert alert-info" role="alert">
                                {{LanguageStrings.youDontHavePlaylist|raw}}
                            </div> 
                        {% else %}
                            <div class="form-group mt-2">
                                <div class="input-group">
                                    <label for="deployToPlayerGroupPlayliste_{{index}}">{{LanguageStrings.selectPlaylistToShow}}</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-addon">{{LanguageStrings.playlist}}</span>
                                    </div>
                                    <select class="form-control" id="deployToPlayerGroupPlayliste_{{index}}" name="deployToPlayerGroupPlayliste_{{index}}">
                                        {% for playlist in playlists %}
                                            <option value="{{playlist.id}}"> {{playlist.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade show active" id="screenTabGroup_{{index}}" role="tabpanel" aria-labelledby="screen-tab">
                        {% if screens is empty%}
                            <div class="alert alert-info" role="alert">
                                {{LanguageStrings.youDontHaveScreen|raw}}
                            </div> 
                        {% else %}
                            <div class="form-group mt-2">
                                <div class="input-group">
                                    <label for="deployToPlayerGroupScreen_{{index}}">{{LanguageStrings.selectScreenToShow}}</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-addon">{{LanguageStrings.screen}}</span>
                                    </div>
                                    <select class="form-control" id="deployToPlayerGroupScreen_{{index}}" name="deployToPlayerGroupScreen_{{index}}">
                                        {% for screen in screens %}
                                            <option value="{{screen.id}}"> {{screen.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
            <button type="button" id="deployPlaylistToPlayerGroupButton_{{index}}" onclick="deployPlaylistToPlayerGroup('{{index}}','{{group.id}}')" class="btn btn-primary" style="display:none;" >{{LanguageStrings.pushPlaylist}}</button>
            <button type="button" id="deployScreenToPlayerGroupButton_{{index}}" onclick="deployScreenToPlayerGroup('{{index}}','{{group.id}}')" class="btn btn-primary">{{LanguageStrings.pushScreen}}</button>
        </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro removeFromPlayerGroup(index,group,LanguageStrings) %}
<div class="modal fade" id="removeFromPlayerGroup_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="removeFromPlayerGroup_{{index}}">{{LanguageStrings.removeContent}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div name="messages">
                <div id="success_alert_modal_removeFromPlayerGroup_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                <div id="error_alert_modal_removeFromPlayerGroup_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                <center><div style="display:none;" id="removeFromPlayerGroup_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
            </div>
           {{LanguageStrings.shouldRemoveContent}}
        </div>
        <div class="modal-footer">
            <button type="button" id="removeFromPlayerGroupYesButton_{{index}}"  data-style="slide-left" onclick="removeFromPlayerGroup('{{index}}','{{group.id}}')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
            <button type="button" id="removeFromPlayerGroupNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
        </div>
        </div>
    </div>
</div>
{% endmacro %}