.scroll-menu {
    border-color: #dee2e6;
    overflow: auto;
    white-space: nowrap;
    border-style: solid;
    border-width: thin;
    margin-left: 2px;
    padding: 5px;
}

.ladda-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #1c84c6;
    border-color: #1c84c6;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ladda-button:hover, .ladda-button:focus, .ladda-button.focus {
    color: #fff;
    background-color: #1a7bb9;
    border-color: #1a7bb9;
}