html,
body {
  height: 100% !important;
  background-color: #ffffff;
}

.navbar-row{
  background-color: #edf0f2;
  border-bottom: 1px black solid;
}
.navbar-row-item {
  margin: 10px;
}

.navbar-row-item-second{
  margin-left: -60px;
}


.default-textarea {
  height: 22px;
}

.btn-primary {
  color: #fff;
  background-color: #1c84c6;
  border-color: #1c84c6;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #1a7bb9;
  border-color: #1a7bb9;
}

.iconButton i{
  padding-right: 10px;
}

.body-bg {
  background-color: #ffffff;
}

.panel {
  background-color: #f3f3f4;
  color: #676a6c;
  border: 1px solid black;
  margin: 2px;
}

.ui-sortable {
  list-style-type: none;
  padding-left: unset;
  height: 250px;
  overflow-y: scroll;
}

.ui-layer-state-default:first-child {
  margin-top: 10px;
}

.ui-layer-state-default {
  background-color: #f3f3f4;
  border: black 1px solid;
  margin-top: 1px;
  padding-left: 10px;
  margin-left: 10px;
}

.ui-layer-state-default:hover {
  background-color: #8193ac;
  cursor: pointer;
}

.ui-layer-state-default-selected {
  background-color: #cce1fd;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.selected-element {
  outline: #007bff dashed 4px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.editor-container {
  margin: 5px;
}

.insert-element {
  height: 100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.insert-element:hover {
  opacity: 0.5;
}

.insert-element img{
  border-radius: 10px;
}

.insert-element-widget {
  background-color: #289cff;
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.insert-element-widget:hover{
  background-color: #1c69ab;
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.insert-element-widget p{
  padding-top: 33%;
  text-align: center;
}

.insert-tab-pane.active {
  overflow-x: auto;
  display: flex !important;
}

.insert-panel {
  background-color: #f3f3f4;
  margin: -10px;
  color: #676a6c;
  border: 1px solid black;
}

.layer-panel-ul {
  background-color: #ffffff;
  margin-left: 15px;
  width: 95% !important;
}

.panel-element {
  background-color: #ffffff;
}

.editor-area {
  background-color: white;
  position: relative;
  height: 490px;
  width: 900px;
}

.form-control-color{
  height: auto;
  padding: .375rem;
  max-width: 100%;
}

.grid {
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.alert-bottom {
  position: fixed;
  bottom: 5px;
  left:2%;
  width: 96%;
}

div.fullscreen {
  position: absolute;
  width:100%; 
  height:960px; 
  top: 0; 
  left: 0; 
  background-color: lightblue;
}

.alert-hide {
  display: none;
}

.alert {
  z-index: 9999;
}

.editor-area p{
  margin-top: 0;
  margin-bottom: 0 !important;
}


@media (min-width: 360px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -290px;
  }
}

@media (min-width: 414px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -260px;
  }
}

@media (min-width: 375px ) and (max-device-width: 413px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -280px;
  }
}

@media (min-width: 576px) {
  .editor-area {

    position: relative;
    height: 490px;
    width: 900px;
    left: -80px;
  }
}

@media (min-width: 768px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: -80px;
  }
}

@media (min-width: 992px) {

  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: 30px;
  }

}

@media (min-width: 1200px) {
  .editor-area {
    position: relative;
    height: 490px;
    width: 900px;
    left: 0px;
  }
}

.loadingScreen {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 99999;
  opacity: 0.9;
}

.loadingScreen .spinner-border  {
  margin-left: 50%;
  margin-top: 25%;
}

.spinner-center{
  margin-left: 50%;
}

.selected-element-contenteditable{
  outline: orange dashed 4px;
}

[contenteditable] {
  outline: 0px solid transparent;
}