{% extends '/defaults/home.html.twig' %}

{% block mainContainerContent %}
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <center class="imgMovoDS"><img src="./img/movodslogo.png"></img></center>
        </div>
        <h3>{{LanguageStrings.welcomeBack}}</h3>
        <div name="messages">

            {% if registerSuccess == true %}
                <div id="success_alert_register" class="alert alert-success" role="alert">{{ LanguageStrings.successfullyRegisteredCheckEmail }}</div>
            {% endif %}

            <div id="success_alert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="error_alert" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ LanguageStrings.emailPasswordWrong }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="{{LanguageStrings.email}}" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{LanguageStrings.password}}" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary full-width mt-1" type="submit">{{LanguageStrings.login}}</button>

            </br>
            <a href="/resetPasswordRequest">
                <small>{{LanguageStrings.forgotPassword}}</small>
            </a>

            <p class="text-muted text-center">
                <small>{{LanguageStrings.doNotHaveAnAccount}}</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="./register">{{LanguageStrings.register}}</a>
        </form>
        <p class="m-t"> <small>Screenflow24  © {{CurrentYear}}</small>
            <li class="list-inline-item nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if CurrentLanguage == "DE" %}
                        <span class="flag-icon flag-icon-de"> </span>
                        {{LanguageStrings.german}}
                    {##
                    {% elseif CurrentLanguage == "en" %}
                        <span class="flag-icon flag-icon-gb"> </span>
                        {{LanguageStrings.english}}
                    {% elseif CurrentLanguage == "tr" %}
                        <span class="flag-icon flag-icon-tr"> </span>
                        {{LanguageStrings.turkish}}
                        ##}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="#de" onclick="setLanguageCookie('AppLanguage','de'); location.reload();"><span class="flag-icon flag-icon-de"> </span>{{LanguageStrings.german}}</a>
                    {##
                    <a class="dropdown-item" href="#gb" onclick="setLanguageCookie('AppLanguage','en'); location.reload();"><span class="flag-icon flag-icon-gb"> </span>{{LanguageStrings.english}}</a>
                    <a class="dropdown-item" href="#gb" onclick="setLanguageCookie('AppLanguage','tr'); location.reload();"><span class="flag-icon flag-icon-tr"> </span>{{LanguageStrings.turkish}}</a>
                   ##}
                </div>
            </li>
        </p>
    </div>
</div>
{% endblock %}