{% extends '/defaults/home.html.twig' %}

{% block mainContainerContent %}
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col">
            {% if activateAccountMessageSuccess is defined %}
                <div id="success_alert" class="alert alert-success" role="alert">{{ activateAccountMessageSuccess }}</div>
                <script>
                    $(document).ready(function (){
                        setTimeout(function(){ window.location = "/login" }, 3000);
                    });
                </script>
            {% elseif activateAccountMessageFailed is defined %}
                <div id="error_alert" class="alert alert-danger " role="alert">{{ activateAccountMessageFailed }}</div>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}