{% extends '/defaults/home.html.twig' %}

{% block mainContainerContent %}

    {% if IsRegistrationActive == 'true' %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 pb-5">
                <center class="imgMovoDS"><img src="./img/movodslogo.png"></img></center>

                <div name="messages">
                    <div id="success_alert" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert" class="alert alert-danger" role="alert" style="display:none;"></div>
                </div>

                {{ form_start(form,{'attr': {'id':'registerForm','class': 'form-signin baseform','onSubmit': ' return checkRegisterForm()'}}) }}
                    {{ form_row(form.salutation,{'label': LanguageStrings.salutation,'attr':{'class': 'form-control'}}) }}
                    {{ form_row(form.firstname,{'label': LanguageStrings.firstname,'attr':{'class': 'form-control'}}) }}
                    {{ form_row(form.secondname,{'label': LanguageStrings.secondname,'attr':{'class': 'form-control'}}) }}
                    {{ form_row(form.email,{'label': LanguageStrings.email,'attr':{'class': 'form-control'}}) }}
                    {{ form_row(form.plainPassword.first,{'label': LanguageStrings.password,'attr':{'class': 'form-control'}}) }}
                    {{ form_row(form.plainPassword.second,{'label': LanguageStrings.repeatPassword,'attr':{'class': 'form-control'}}) }}

                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" id="AGB" name="AGB" value="true" class="form-check-input" />
                            <label class="form-check-label" for="formCheck-1">{{LanguageStrings.conditions|raw}}</label>
                        </div>
                    </div>

                    <button class="btn btn-primary full-width" type="submit">{{LanguageStrings.register}}</button>
                    <script src="./scripts/register.js"></script>
                {{ form_end(form) }}
                <p class="text-muted text-center mt-1"><small>{{LanguageStrings.alreadyHaveAnAccount}}</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/login">{{LanguageStrings.login}}</a>
    {% else %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1>{{LanguageStrings.registrationClosed}}</h1>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% endif %}

{% endblock %}