{% extends "/defaults/home.twig" %}

{% block mainContainerContent %}
<div class="jumbotron">
    <h1 class="display-4">Ein Fehler ist aufgetreten</h1>
    <p class="lead">{{Exception}}</p>
    <hr class="my-4">
    <p>Bitte kontaktieren sie den Support.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Kontaktformular</a>
</div>
{% endblock mainContainerContent %}