
<div class="footer">
    <div class="float-right">
        <li class="list-inline-item nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if CurrentLanguage == "DE" %}
                    <span class="flag-icon flag-icon-de"> </span>
                    {{LanguageStrings.german}}
                {##
                {% elseif CurrentLanguage == "en" %}
                    <span class="flag-icon flag-icon-gb"> </span>
                    {{LanguageStrings.english}}
                {% elseif CurrentLanguage == "tr" %}
                    <span class="flag-icon flag-icon-tr"> </span>
                    {{LanguageStrings.turkish}}
                     ##}
                {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="#de" onclick="setLanguageCookie('AppLanguage','de'); location.reload();"><span class="flag-icon flag-icon-de"> </span>{{LanguageStrings.german}}</a>
                {##<a class="dropdown-item" href="#gb" onclick="setLanguageCookie('AppLanguage','en'); location.reload();"><span class="flag-icon flag-icon-gb"> </span>{{LanguageStrings.english}}</a>
                <a class="dropdown-item" href="#gb" onclick="setLanguageCookie('AppLanguage','tr'); location.reload();"><span class="flag-icon flag-icon-tr"> </span>{{LanguageStrings.turkish}}</a>
                ##}
            </div>
        </li>
    </div>
    <div>
        Screenflow24 © {{CurrentYear}}
    </div>
</div>



{#####
<footer class="footer-basic">
    <div class="social">
        <a target="_blank" href="https://www.instagram.com/movosol/"><i class="icon ion-social-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/movosol"><i class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a target="_blank" href="https://movosolutions.de/">Movosolutions</a></li>
        <li class="list-inline-item"><a target="_blank" href="https://app.screenflow24.com/shop/index.php/impressum/">Impressum</a></li>
        <li class="list-inline-item"><a target="_blank" href="https://app.screenflow24.com/shop/index.php/agb/">AGB's & Widerrufsrecht </a></li>
        <li class="list-inline-item nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if CurrentLanguage == "de" %}
                    <span class="flag-icon flag-icon-de"> </span>
                    {{LanguageStrings.german}}
                {% elseif CurrentLanguage == "en" %}
                    <span class="flag-icon flag-icon-gb"> </span>
                    {{LanguageStrings.english}}
                {% elseif CurrentLanguage == "tr" %}
                    <span class="flag-icon flag-icon-tr"> </span>
                    {{LanguageStrings.turkish}}
                {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="#de" onclick="setLanguageCookie('AppLanguage','de'); location.reload();"><span class="flag-icon flag-icon-de"> </span>{{LanguageStrings.german}}</a>
                <a class="dropdown-item" href="#gb" onclick="setLanguageCookie('AppLanguage','en'); location.reload();"><span class="flag-icon flag-icon-gb"> </span>{{LanguageStrings.english}}</a>
                <a class="dropdown-item" href="#gb" onclick="setLanguageCookie('AppLanguage','tr'); location.reload();"><span class="flag-icon flag-icon-tr"> </span>{{LanguageStrings.turkish}}</a>
            </div>
        </li>
    </ul>
    <p class="copyright">Movosolutions © {{CurrentYear}}</p>
</footer>

#####}