{% block html %}
<!DOCTYPE html>
<html lang="en">
    {% block mainHeader %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>Screenflow24</title>
            <link rel="shortcut icon" href="{{ asset('/img/favicon.png') }}" type="image/x-icon">
            {% include "/defaults/requires.html.twig" %}
            {% block googleAnalysen %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJKEP4W7YJ"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'G-QJKEP4W7YJ');
                </script>
            {% endblock googleAnalysen %}
        </head>
    {% endblock mainHeader %}
    <body class="gray-bg">
        {% include "/defaults/languageparserjs.html.twig" %}
        <div class="container-fluid">
            {% block mainContainerContent %}
                Empty Container 
            {% endblock mainContainerContent %}
        </div>
        <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        {{LanguageStrings.cookieMessage|raw}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="setCookieMessageCookie('cookieMessage')">{{LanguageStrings.accept}}</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $( document ).ready(function() {
                var cookieMessage = getCookieValue("cookieMessage");
                if(cookieMessage == "" && cookieMessage != "true") {
                    $('#cookieModal').modal({backdrop: 'static', keyboard: false});
                    $('#cookieModal').modal('toggle');
                }
            });
            function setCookieMessageCookie(cookieName)
            {
                var d = new Date();
                d.setTime(d.getTime() + 10*365*24*60*60*1000);
                document.cookie = cookieName+'=true;expires='+d.toGMTString()+';'; 
                $('#cookieModal').modal('toggle');
            }
        </script>
    </body>
</html>
{% endblock %}


