<script>
    try 
    {
        var languageJsStrings = {};
        var languageSetting = getCookieValue("AppLanguage");
        var text = "{{LanguageStringsJs|escape('js')}}";
        var parser = new DOMParser();
        var xmlDoc = parser.parseFromString(text,"text/xml");
        var languageElements = xmlDoc.getElementsByTagName(languageSetting);
        for(var i = 0; i < languageElements[0].children.length; i++)
        {
            var key = languageElements[0].children[i].attributes[0].nodeValue;
            var value = languageElements[0].children[i].childNodes[0].nodeValue;
            languageJsStrings[key] = value;
        }
    }
    catch(err) 
    {
        console.log("Language parse exception:" + err);
    }
</script>
