{% block html %}
<!DOCTYPE html>
<html lang="en">
    {% block mainHeader %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Screenflow24-{{SiteName}}</title>
            <link rel="shortcut icon" href="{{ asset('/img/favicon.png') }}" type="image/x-icon">
            <link rel="stylesheet" href="./css/Footer-Basic.css" />
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:300,400,600" rel="stylesheet">
            <!-- Include Leaflet -->
            <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
            <link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet">
            <!-- Include CARTO.js -->
            <script src="https://libs.cartocdn.com/carto.js/v4.2.0/carto.min.js"></script>
            <link href="https://carto.com/developers/carto-js/examples/maps/public/style.css" rel="stylesheet">
            {% include "/defaults/requires.html.twig" %}
        </head>
    {% endblock mainHeader %}
    <body>
        {% if AppStage == "dev" or AppStage == "test" %}
            <div class="alert alert-danger justify-content-center">App is in "{{ AppStage }}" - Stage</div>
        {% endif %}
        <div id="wrapper">
            {% include "/defaults/languageparserjs.html.twig" %}
            {% block mainNavbar %}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li id="dashboardMenuItem" class="{% if NavName == "Home" %} active {% endif %}">
                            <a href="/"><i class="fas fa-home"></i> <span class="nav-label">Portal</span></a>
                        </li>

                        <li id="mediaMenuItem" class="{% if NavName == "Images"%} active {% endif %} {% if NavName == "Videos"%} active {% endif %} {% if NavName == "Upload"%} active {% endif %}">
                            <a href="#"><i class="fas fa-photo-video"></i> <span class="nav-label">Werbung</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse out">
                                <li class="{% if NavName == "Upload" %} active {% endif %}"><a href="/upload">Werbung hochladen</a></li>
                                <li class="{% if NavName == "Images" %} active {% endif %}"><a href="/images">Bilder</a></li>
                                <li class="{% if NavName == "Videos" %} active {% endif %}"><a href="/videos">Videos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock mainNavbar %}
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li class="logoutIcon">
                                <a href="/logout">
                                    <i class="fa fa-sign-out-alt"></i> {{LanguageStrings.logOut}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% block mainBreadcrumb  %}
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="col-lg-10">
                            <h2>{{SiteName}}</h2>
                            <ol class="breadcrumb">
                                {% block mainBreadcrumbItem %}
                                        <li class="breadcrumb-item"><a href="./index.php"><span>Screenflow24</span></a></li>
                                    {% for breadcrumb in BreadcrumbPath %}
                                        <li class="breadcrumb-item"><a href="{{breadcrumb.Url}}"><span>{{breadcrumb.Name}}</span></a></li>
                                    {% endfor %}
                                {% endblock mainBreadcrumbItem %}
                            </ol>
                        </div>
                        <div class="col-lg-2">

                        </div>
                    </div>
                {% endblock mainBreadcrumb %}
                <div class="wrapper wrapper-content animated fadeInRight">
                    {% block mainContainerContent %}
                        Empty Container 
                    {% endblock mainContainerContent %}
                </div>
                {% block mainFooter%}
                    {% include "/defaults/footer.html.twig" %}
                {% endblock mainFooter%}
            </div>
        </div>
    </body>
</html>
{% endblock %}


