<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ asset('css/bootstrap-4.3.1/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}" >
<link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/fontawesome-free-5.11.2-web/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
<link rel="stylesheet" href="{{ asset('css/animate.css') }}" >
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/flag-icon-css/css/flag-icon.min.css') }}" >
<link rel="stylesheet" href="{{ asset('css/plugins/blueimp/css/blueimp-gallery.min.css') }}" >
<link rel="stylesheet" href="{{ asset('css/plugins/ladda/ladda-themeless.min.css') }}" >
<link rel="stylesheet" href="{{ asset('css/plugins/colorpicker/bootstrap-colorpicker.min.css') }}">


<script src="{{ asset('js/jquery-3.4.1/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-4.3.1/bootstrap.min.js') }}"></script>

<script src="{{ asset('js/driver.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/driver.min.css') }}">

<link rel="stylesheet" href="{{ asset('js/datatable/1.10.20/css/dataTables.bootstrap4.min.css') }}"/>
<script src="{{ asset('js/datatable/datatables.min.js') }}"></script>
<script src="{{ asset('js/datatable/1.10.20/js/dataTables.bootstrap4.min.js') }}"></script>

<link rel="stylesheet" href="{{ asset('js/uppy/uppy.min.css') }}"/>
<script src="{{ asset('js/uppy/uppy.min.js') }}"></script>
<script src="{{ asset('js/uppy/de_DE.min.js') }}"></script>
<script src="{{ asset('js/videoThumbnails.js') }}"></script>

<script src="{{ asset('js/interact.min.js') }}"></script>
<script src="{{ asset('scripts/global.js') }}"></script>
<script src="{{ asset('scripts/tour.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
<script src="{{ asset('js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
<script src="{{ asset('js/plugins/ladda/spin.min.js') }}"></script>
<script src="{{ asset('js/plugins/ladda/ladda.min.js') }}"></script>
<script src="{{ asset('js/plugins/ladda/ladda.jquery.min.js') }}"></script>
<script src="{{ asset('js/list.min.js') }}"></script>
<script src="{{ asset('js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}"></script>
<script src="{{ asset('js/moment.js') }}"></script>
<script src="{{ asset('scripts/httpclient.js') }}"></script>
