.previewImageCreator{
    width: 100px;
    height: 100px;
    border-color: #dee2e6;
}

.previewVideoCreator{
  width: 100px !important;
  height: 100px !important;
  border-color: #dee2e6;
}

.previewImage{
  width: 150px;
  height: 150px;
  border-color: #dee2e6;
}

.input-group-addon {
    min-width:123px;
    text-align:left;
}


div.scrollmenu {
  border-color: #dee2e6;
  overflow: auto;
  white-space: nowrap;
  border-style: solid;
  border-width: thin;
  margin-left: 2px;
  padding: 5px;
}

#WidgetToolBox div,
#video img,
#ImagesToolBox img{
  cursor: pointer;
}

#WidgetToolBox div:hover,
#video img:hover,
#ImagesToolBox img:hover{
  cursor: pointer;
}

#ImagesToolBoxPixaBay.scrollmenu img,
#ImagesToolBox.scrollmenu img
{
  margin-right: 4px;
}

#ImagesToolBoxPixaBay.scrollmenu video,
#ImagesToolBox.scrollmenu video
{
  margin-right: 4px;
}

#WidgetToolBox div,
#video video,
#ImagesToolBox video{
  cursor: pointer;
}

#WidgetToolBox div:hover,
#video video:hover,
#ImagesToolBox video:hover{
  cursor: pointer;
}

.container .itemsTabs{
  margin-top: 20px;
}

div.scrollmenu img,
div.scrollmenu video,
div.scrollmenu div {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

div.scrollmenu img:hover,
div.scrollmenu video:hover {
  color: #289cff;
  opacity: 0.5;
  
}

#VideoToolBox video{
  background-color: white;
}


div.scrollmenuPlaylist {
  border-color: #dee2e6;
  overflow: auto;
  border-style: solid;
  border-width: thin;
  margin-left: 2px;
  min-height: 70px;
  padding: 5px;
}

div.scrollmenuPlaylist img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  max-width: 100%;
}

div.scrollmenuPlaylist img:hover {
  background-color: #777;
}

.gridRow{
  min-height: 0px;
  background: white;
  margin-right: 0px;
  margin-left: 0px;
}


.gridContainerHD
{
  height: 432px;
  width: 768px;
  padding-right: 0px;
  padding-left: 0px;

}

.gridContainerFullHD
{

  padding-right: 0px;
  padding-left: 0px;
  background-size: 10px 10px;
  position: relative;

}

.gridContainerFullHDPortrait
{
  height: 550px;
  width: 490px;
  padding-right: 0px;
  padding-left: 0px;
  background-size: 10px 10px;
  position: relative;

}


.gridContainerHD video, .gridContainerFullHDPortrait video
{
  height: 100% !important;
  width: 100% !important;
  object-fit: unset;
}

.gridContainerHD img, .gridContainerFullHDPortrait img
{
  height: 100%;
  width: 100%;
}

.gridContainerBackground{
  background-image:
  linear-gradient(to right,  #ececec 1px, transparent 1px),
  linear-gradient(to bottom,  #ececec 1px, transparent 1px);
}

.gridContainer4K
{
  height: 432px;
  width: 768px;
  padding-right: 0px;
  padding-left: 0px;
}

.gridContainerHD video, .gridContainerFullHD video
{
  height: 100% !important;
  width: 100% !important;
  object-fit: unset;
}

.gridContainerHD img, .gridContainerFullHD img
{
  height: 100%;
  width: 100%;
}

#previewContainer .border-success, #previewContainer .border-primary {
  border-width:3px !important;
}


.scrollmenuPlaylist .playlistScreenName{
  color: white;
}

.scrollmenuPlaylist .playlistScreenItems{
  border-style: solid;
  border-width: 5px;
  border-color:white;
}

.gridCol{
  height: 100%;
  min-height: 30px;
  background-color: white;
  padding-right: 0px;
  padding-left: 0px;
}



.input-group-text-screen {
  width: 150px;
}


.playlistScreenItem{
  height: 50px;
  width: 50px;
}

.playlistScreenLine{
  min-height: 250px;
  background-color:#f0f0f0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  margin-top: 30px;
}


.playlistScreen{
  display: inline-block;
  width: 170px;
  min-width: 150px;
  margin-right: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #777;
  text-align: center;
  margin-top: 10px;
}

.playlistScreen label{
  display: block;
}

.playlistScreen input{
  max-width: 50%;
  margin-bottom: 5px;
}

.playlistScreenPreview{
  width: 100%;
}

.drag {
  display: inline-block;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  margin: 2px;
}

.dropzone {
  background: #ccc;
  padding: 5px;
  margin-top: 10px;
}


.playlistScreenBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:
  #333333;
}

.playlistScreenItems{
  float: left;
  list-style-type: none;
}

.showOptionControl{
  min-width: 30%;
  width:auto;
}

.searchControl{
  min-width: 50%;
  float: right;
  width:auto;
}

.dropzoneUploader{
  width: 100%;
}


.greenDot {
  height: 10px;
  width: 10px;
  background-color: #28a745;
  border-radius: 50%;
  display: inline-block;
}

.yellowDot {
  height: 10px;
  width: 10px;
  background-color: #ffc107;
  border-radius: 50%;
  display: inline-block;
}

.redDot {
  height: 10px;
  width: 10px;
  background-color: #dc3545;
  border-radius: 50%;
  display: inline-block;
}


.websitelogo{
  position: relative;
  padding-top: 15px;
  color: #289cff;
}

.imgMovoDS{
  padding-top: 10px;
  padding-bottom: 75px;
}

.imgMovoDS img{

}

.resizeableElement{
  position:absolute;
}



.resizeableElementSelected .deleteButton{
  background: url(../img/delete.svg) center center / contain no-repeat;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 60px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  z-index: 100;
}


.resizeableElementSelected .fullScreenButton{
  background: url(../img/fullscreen.svg) center center / contain no-repeat;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 30px;;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  z-index: 100;
}

.resizeableElementSelected .moveButton{
  background: url(../img/move.svg) center center / contain no-repeat;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  z-index: 100;
}


#playlist img {
  width: 100%;
  height: 100%;
}

#playlist div video {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

#playlist{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: sticky;
}

.layoutManagerMenu{
  width: 150px;
  min-height: 490px;
  background-color:lightgray;
  max-height: 490px;
  overflow: scroll;
}

.layoutManagerMenu img{
  width: 95%;
  height: 100px;
  margin-top: 15px;
  margin-left: 3px;
}

.tableInputPlaylistHasScreen{
  max-width: max-content;
}

.layoutManagerMenu .youtubeIcon{
  content:url("../img/youtubeicon.png");
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

.layoutManagerMenu .tickerIcon{
  content:url("../img/tickericon.png");
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

.layoutManagerMenu .externVideoIcon{
  content:url("../img/externvideoicon.png");
  width: 100%;
  height: 100px;
  margin-top: 15px;
}
.layoutManagerMenu .externImageIcon{
  content:url("../img/externimageicon.png");
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

.layoutManagerMenu .HTMLIcon{
  content:url("../img/htmlicon.png");
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

.layoutManagerMenu .textIcon{
  content:url("../img/texticon.png");
  width: 100%;
  height: 100px;
  margin-top: 15px;
}


.scrollmenu .tickerIcon,.scrollmenu .youtubeIcon,.scrollmenu .externVideoIcon,.scrollmenu .externImageIcon,
.scrollmenu .htmlIcon,.scrollmenu .textIcon{
  border-radius: 34px;
  width: 100px;
  height: 100px;
}

.relationElementHover{
  outline: #007bff dashed 4px !important;
}

.relationElementHoverJS{
  outline: #007bff dashed 4px !important;
}

.relationElementHoverEditText{
  outline: #e0a807 dashed 4px !important;
}

.simpleTextWidget{
  color: #0c0c0c;
}

.screenInformations .input-group{
  padding-top: 5px;
}


.container::-webkit-scrollbar { 
  display: none;
}

#layoutManagerContainer .list-group-item{
  margin-bottom: 10px;
}

#creatorZone .col{
  border-style: solid;
  border-width: thin;
  border-color: #dee2e6;

}

#driver-highlighted-element-stage {
  
  background-color: transparent !important;
}

.textBlockOverflow{
  overflow: hidden;
  height: 100%;
}

#itemProperties .input-group-prepend .input-group-text{
  min-width: 80px;
}
div#creatorZone.row div#itemProperties.col div#textPropertiesArea div.form-row .col
{
  border-color: transparent;
}

.widgetBoxElement{
  border-radius: 34px;
  width: 100px;
  height: 100px;
  background-color:#289cff;
}

.widgetBoxElement:hover{
  background-color: #408dce;
}

.widgetBoxElementText{
  padding-top:38px;
  color:white;
  font-family: sans-serif;
}


.eastPoint{
  top: 50%;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}

.southPoint{
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}

.northPoint{
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}

.westPoint{
  top: 50%;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}


.northWestPoint{
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}


.northEastPoint{
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}


.southEastPoint{
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
  margin: -6px;

}


.southWestPoint{
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #000;
  visibility: hidden;
}

.mediaTabs{
  display: none;
}

.imageTabSpinner{
  margin-left: 50%;
}

.simpleTextContent{
  overflow-wrap: break-word;
}
.simpleTextContent div{
  overflow-wrap: break-word;

}

.galleryIMG{
  height: 100px;
  width: 100px;
}


.team-members img.rounded-circle.player{
  height: 100px;
  width: 100px;
}


.ibox-title.playerGroup{
  padding: 15px 20px 8px 15px;
}

.dropZoneForPlayer{
  background-color: #f3f3f4;
  height: 78px;
  border-style: dashed;
}


.dropZoneIconPlayer{
  margin-top: 17px;
}

.mediaName{
  word-wrap: break-word;
}

.clockpicker-popover.bottom{
  z-index: 999999;
}

input.readonly:read-only {
  background-color: #fff;
}

input.readonly:-moz-read-only { /* For Firefox */
  background-color: #fff;
}

.fc-day.fc-widget-content:hover{
  background-color: #ededf0;
  cursor: pointer;
}


.fc-list-heading-alt{
  padding-left: 15px;
}

.logoutIcon{
  margin-right: 15px;
}

.userProfilePicture{
  height: 100px;
  width: 100px;
}

#addPlayerButton{
  margin-right: 10px;
}


.numberOfPlayers{
  height: 150px;
  width: 160px;
}


.planIsSelected{
  box-shadow: 0 8px 30px 0 #216cae;
}

.paymentLogo{
  height: 50px;
  width: 50px;
}

.productImg{
  width: 160px;
}

.summaryProductImage{
  width: 416px;
  height: 476px;
}

.paymentBox:hover, paymentBox.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}

.numberOfPlayerInput{
  height: 90px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: #0e9aef;
}


.userGroupDelete{
  color: red;
}

.editSubscriptionButton{
  color: white;
}
.addUserGroupButton{
  margin-top: -20%;
}


.ibox-content h4{
  height: 30px;
}


.previewProfilePicture{
  height: 560px;
  width: 100%;
}

.ui-icon, .ui-widget-content .ui-icon
{ 
  background-image: none;
}

.shapesPreviewItem {
	height: 100px;
	background-color: #289cff;
  margin: 5px;
  cursor: pointer;
}

.shapesPreviewItem:hover {
  box-shadow: 10px 10px 15px silver;
}

.shapesPreviewItemElement{
  width: 25%; 
  height: 50%;
  background: white; 
  margin-top: 25px;
}

.shapesPreviewItemPlaceholder{
	height: 100px;
  margin: 5px;
}

.dashboardMainInfos .col .ibox .ibox-content {
  height: 400px;
}

.contactTextarea{
  width: 100%;
  height: 100%;
}

.contactTextarea textarea{
  height: 150px;
}

.playerGroupIcon {
  width: 100%;
}


.hoverGroup:hover{
  -webkit-box-shadow: 0px 0px 4px 4px rgba(2,139,207,1);
  -moz-box-shadow: 0px 0px 4px 4px rgba(2,139,207,1);
  box-shadow: 0px 0px 4px 4px rgba(2,139,207,1);
}

.countNumberPlayer {
  display: -webkit-box;
}

.countPlayer{
  padding-left: 10px
}

.clickbox{
  height: 175px;
}

#layoutManagerContainer .layoutManagerElement{
  cursor:grab;
}

.playerInformations{
  padding-bottom: 12px;
}

.playerDescription{
  margin-bottom: 50px;
}

.rotate90{
  transform: rotate(90deg);
}

.emailColorWhite{
  color:white;
}

.expire {

  margin-left: 15px;
  max-width: max-content;
}

.expireCheckbox{
  margin-top: 11px;
}

.baseform div:first-child{
  margin-top: 0px;
}

.baseform div{
  margin-top: 12px;
}

#creatorZone #previewContainer .resizeableElement.ScreenElement.ui-resizable.ui-draggable .ui-resizable-handle.ui-resizable-se
{
  cursor: se-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  bottom: -5px;
}

.iboxDroppableZone{
  text-align: center;
}
