{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
<div class="col">
    {% if app.user.videoMedia is empty %}
        <div class="alert alert-info" role="alert">
            {{LanguageStrings.noVideoUploaded}}
        </div>
    {% else %}
        <div class="row mb-2">
            <div class="col-md-2">
                <input class="form-control" id="searchMedia" placeholder="{{LanguageStrings.search}}" />
            </div>
        </div>
        <div class="row mb-2" id="noSearchResult" style="display:none;">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    {{LanguageStrings.noSearchResult}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        {% for media in app.user.videoMedia|sort((a, b) => a.created < b.created) %}
                            <div class="file-box" data-toggle="modal" data-index="{{loop.index0}}" data-target="#editMediaModal_{{loop.index0}}" onclick="loadVideoContent(this)">
                                <div class="file">
                                    <a href="#">
                                        <div class="icon">
                                            {# 
                                                <video>
                                                    <source src="{{AWSURL}}{{media.MediaPath}}#t=0.1" type="video/mp4" />
                                                </video>
                                            #}
                                            <img src="{{media.thumbnail}}"></img>
                                        </div>
                                        <div data-toggle="modal"  class="file-name">
                                            <div class="mediaName">{{media.name}}</div>
                                            <small>{{LanguageStrings.added}}: {{media.created|date("d.m.Y")}}</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% for media in app.user.videoMedia|sort((a, b) => a.created < b.created) %}
<div class="modal fade modaleditMedia" id="editMediaModal_{{loop.index0}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediaModalLabel">{{LanguageStrings.editVideo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div name="messages">
                        <div id="success_alert_modal_edit_media_{{loop.index0}}" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="error_alert_modal_edit_media_{{loop.index0}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                        <center><div style="display:none;" id="edit_media_spinner_{{loop.index0}}" class="spinner-border text-primary" role="status"></div></center>
                    </div>
                    <div class="videoContainer">
                        {#
                            <video width="100%" height="100%" controls>
                                <source src="{{AWSURL}}{{media.MediaPath}}#t=0.1" type="video/mp4" />
                            </video>
                        #}
                    </div>
                <form>
                    <div class="form-group">
                        <label>{{LanguageStrings.videoName}}</label>
                        <input id="editMediaName_{{loop.index0}}" name="editMediaName_{{loop.index0}}" type="text" class="form-control" value="{{media.name}}" />
                    </div>
                    <div class="form-group">
                        <label>{{LanguageStrings.description}}</label>
                        <input id="editMediaDescription_{{loop.index0}}" name="mediaNameDescription_{{loop.index0}}" type="text" class="form-control" value="{{media.description}}" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                <button class="btn btn-danger" type="button" onclick="showMediaDeleteModal('{{loop.index0}}')">{{LanguageStrings.deleteVideo}}</button>
                <button type="button" id="saveMediaButton_{{loop.index0}}" onclick="editMedia('{{loop.index0}}','{{media.id}}','video')" class="btn btn-primary">{{LanguageStrings.saveVideo}}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% import _self as self %}

{% for media in app.user.videoMedia|sort((a, b) => a.created < b.created) %}
    {{ self.deleteMedia(loop.index0,media,LanguageStrings) }}
{% endfor %}

<script src="./scripts/media.js"></script>

<script>
$(document).ready(function () {
    $(".modaleditMedia").on("hidden.bs.modal", function () {
        $("video").each(function() {
            $(this).get(0).pause();
        });
    });

    setupUppyVideo();
});
var videoURLSArray = [
{% for media in app.user.videoMedia|sort((a, b) => a.created < b.created) %}
{
    videoURL: '{{media.AWSURL(AppStage)}}',
},
{% endfor %}
]
</script>
{% endblock mainContainerContent %}

{% macro deleteMedia(index,media,LanguageStrings) %}
<div class="modal fade" id="deleteMedia_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMedia_{{index}}">{{LanguageStrings.deleteVideo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div name="messages">
                    <div id="success_alert_modal_delete_media_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert_modal_delete_media_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                    <center><div style="display:none;" id="delete_media_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
                </div>
            {{LanguageStrings.shouldDeleteVideo}}
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteMediaYesButton_{{index}}" onclick="deleteMedia('{{index}}','{{media.id}}','video')" class="btn btn-success">{{LanguageStrings.yes}}</button>
                <button type="button" id="deleteMediaNoButton_{{index}}" class="btn btn-danger" data-dismiss="modal">{{LanguageStrings.no}}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}