
{% extends "/defaults/home.html.twig" %}
{% block mainContainerContent %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center class="imgMovoDS"><img src="{{ asset('img/movodslogo.png') }}"></img></center>
        <div name="messages">
            <div id="success_alert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="error_alert" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>
        <form id="resetForm" method="post" class="form-signin">
            <h2>{{SiteName}}</h2>
            <p>{{ LanguageStrings.enterNewPassword }}</p>
            <input id="PRC" type="hidden" name="PRC" value="{{PasswordResetCode}}">
            <div class="form-group"><input id="NewPassword" name="NewPassword" type="password" class="form-control" placeholder="{{ LanguageStrings.newPassword }}" /></div>
            <div class="form-group"><input id="NewPasswordRepeat" name="NewPasswordRepeat" type="password" class="form-control" placeholder="{{ LanguageStrings.repeatnewPassword }}" /></div>
            <button id="resetPasswordButton" class="btn btn-primary" type="button" onclick="checkResetPasswordForm();">{{LanguageStrings.resetPassword}}</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="./scripts/resetpassword.js"></script>
{% endblock mainContainerContent %}

