
{% extends "/defaults/home.html.twig" %}
{% block mainContainerContent %}

<div class="passwordBox animated fadeInDown">
    <a href="/login">{{LanguageStrings.backToLogin}}</a>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div name="messages">
                            <div id="success_alert" class="alert alert-success" role="alert" style="display:none;"></div>
                            <div id="error_alert" class="alert alert-danger" role="alert" style="display:none;"></div>
                        </div>
                        <form id="resetForm" class="form-signin">
                            <h2 class="font-bold">{{SiteName}}</h2>
                            <p>{{LanguageStrings.enterVerifiedEmailAddress}}</p>
                            <div class="form-group"><input id="Email" name="Email" type="text" class="form-control" placeholder="{{LanguageStrings.enterEmailAdress}}" /></div>
                            <button id="resetButton" type="button" class="btn btn-primary" onclick="resetPasswordRequest()">{{LanguageStrings.sendEmailToRestePassword}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
   <div class="row">
        <div class="col-md-6">
            Screenflow24
        </div>
        <div class="col-md-6 text-right">
           <small>© {{CurrentYear}}</small>
        </div>
    </div>
</div>
<script src="{{ asset('scripts/account.js') }}"></script>
{% endblock mainContainerContent %}

