{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
<div class="col">
    {% if app.user.imageMedia is empty %}
        <div class="alert alert-info" role="alert">
            {{LanguageStrings.noPictureUploaded}}
        </div>
    {% else %}
        <div class="row mb-2">
            <div class="col-md-2">
                <input class="form-control" id="searchMedia" placeholder="{{LanguageStrings.search}}" />
            </div>
        </div>
        <div class="row mb-2" id="noSearchResult" style="display:none;">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    {{LanguageStrings.noSearchResult}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="ml-0 row">
                    {% for media in app.user.imageMedia|sort((a, b) => a.created < b.created) %}
                        <div class="file-box" data-toggle="modal" data-target="#editMediaModal_{{loop.index0}}">
                            <div class="file">
                                <a href="#">
                                    <div class="image">
                                        {## <img alt="image" class="img-fluid" src="{{AWSURL}}{{media.MediaPath}}"> ##}
                                        <img alt="image" class="img-fluid" src="{{media.thumbnail}}">
                                    </div>
                                    <div class="file-name">
                                        <div class="mediaName">{{media.name}}</div>
                                        <small>{{LanguageStrings.added}}: {{media.created|date("d.m.Y")}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% for media in app.user.imageMedia|sort((a, b) => a.created < b.created) %}
<div class="modal fade" id="editMediaModal_{{loop.index0}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediaModalLabel">{{LanguageStrings.editPicture}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div name="messages">
                        <div id="success_alert_modal_edit_media_{{loop.index0}}" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="error_alert_modal_edit_media_{{loop.index0}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                        <center><div style="display:none;" id="edit_media_spinner_{{loop.index0}}" class="spinner-border text-primary" role="status"></div></center>
                    </div>
                <form>
                    <div class="form-group">
                        <label>{{LanguageStrings.pictureName}}</label>
                        <input id="editMediaName_{{loop.index0}}" name="editMediaName_{{loop.index0}}" type="text" class="form-control" value="{{media.name}}" />
                    </div>
                    <div class="form-group">
                        <label>{{LanguageStrings.description}}</label>
                        <input id="editMediaDescription_{{loop.index0}}" name="mediaNameDescription_{{loop.index0}}" type="text" class="form-control" value="{{media.description}}" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LanguageStrings.cancel}}</button>
                <button class="btn btn-danger" type="button" onclick="showMediaDeleteModal('{{loop.index0}}')">{{LanguageStrings.deletePicture}}</button>
                <button type="button" id="saveMediaButton_{{loop.index0}}" onclick="editMedia('{{loop.index0}}','{{media.id}}','image')" class="btn btn-primary">{{LanguageStrings.savePicture}}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% import _self as self %}

{% for media in app.user.imageMedia|sort((a, b) => a.created < b.created) %}
    {{ self.deleteMedia(loop.index0,media,LanguageStrings) }}
{% endfor %}

<script src="./scripts/media.js"></script>
<script>
    $(document).ready(function () {
        setupUppyImg()
    });
</script>
{% endblock mainContainerContent %}

{% macro deleteMedia(index,media,LanguageStrings) %}
<div class="modal fade" id="deleteMedia_{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMedia_{{index}}">{{LanguageStrings.deletePicture}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div name="messages">
                    <div id="success_alert_modal_delete_media_{{index}}" class="alert alert-success" role="alert" style="display:none;"></div>
                    <div id="error_alert_modal_delete_media_{{index}}" class="alert alert-danger" role="alert" style="display:none;"></div>
                    <center><div style="display:none;" id="delete_media_spinner_{{index}}" class="spinner-border text-primary" role="status"></div></center>
                </div>
            {{LanguageStrings.shouldDeletePicture}}
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteMediaYesButton_{{index}}" onclick="deleteMedia('{{index}}','{{media.id}}','image')" class="btn btn-danger">{{LanguageStrings.yes}}</button>
                <button type="button" id="deleteMediaNoButton_{{index}}" class="btn btn-success" data-dismiss="modal">{{LanguageStrings.no}}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}