{% extends '/defaults/home.html.twig' %}

{% block mainContainerContent %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">{{ LanguageStrings.PageNotFound }}</h3>

        <div class="error-desc">
            {{ LanguageStrings.forZeroForMessage }}
        </div>
    </div>
{% endblock %}