{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
               {{LanguageStrings.about}}
            </div>
            <div class="ibox-content inspinia-timeline" style="">
                Version: {{AppVersion}}
                <br>
                Screenflow24
                <br>
                Mühlenweg 64
                <br>
                D - 51145 Köln
                <br>
                <br>
                Vertreten durch:
                <br>
                Vertretungsberechtigte Geschäftsführer: Muhammet Burhan Topcu
                <br>
                Registergericht: Köln
                <br>
                Registernummer: HRB 103757
                <br>
                Umsatzsteuer-Identifikationsnummer nach § 27a UStG:
                <br>
                Wird derzeit erteilt
                <br>
                <br>
                Tel.: +49 (0)15908496843
                <br>
                E-Mail: <a href="mailto:contact@screenflow24.com">contact@screenflow24.com</a>
                <br>
                Homepage: <a target="_blank" href="https://screenflow24.com/">https://screenflow24.com/</a>
                
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Version {{AppVersion}} - Stage: {{AppStage}}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content inspinia-timeline" style="">
                {% for version in Versions %}
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-3 date">
                                <i class="fa fa-file-text"></i>
                                {{version.date|date('Y-m-d') }}
                            </div>
                            <div class="col-7 content">
                                <p class="m-b-xs"><strong>Version {{version.nr}}</strong></p>
                                <p>{{version.description}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock mainContainerContent %}