{% extends "/defaults/main.html.twig" %}
{% block mainContainerContent %}
    <div class="row dashboardMainInfos">
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Werbungsverwaltung</h5>
                </div>
                <div class="ibox-content">
                    <select name="bundeslaender" id="bundeslaender">
                        <option value="">Bundesland wählen</option>
                        <option value="nrw">Baden-Württemberg</option>
                        <option value="bayern">Bayern</option>
                        <option value="berlin">Berlin</option>
                        <option value="brandenburg">Brandenburg</option>
                        <option value="bremen">Bremen</option>
                        <option value="hamburg">Hamburg</option>
                        <option value="hessen">Hessen</option>
                        <option value="meck">Mecklenburg-Vorpommern</option>
                        <option value="niedersachsen">Niedersachsen</option>
                        <option value="nrw">Nordrhein-Westfalen</option>
                        <option value="rheinland">Rheinland-Pfalz</option>
                        <option value="saarland">Saarland</option>
                        <option value="sachsenA">Sachsen-Anhalt</option>
                        <option value="sachsen">Sachsen</option>
                        <option value="schleswig">Schleswig-Holstein</option>
                        <option value="thüringen">Thüringen</option>
                    </select>
                    <select name="mediaList" id="mediaList" >
                        <option value="">Werbung auswählen</option>
                        {% for media in app.user.imageMedia|sort((a, b) => a.created < b.created) %}
                            <option value="{{media.path}}">{{media.name}}</option>
                        {% endfor %}
                    </select>
                    <div id="imageView" style="display: none;">
                        <img id="imageViewSrc" src="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Reichweite bestimmen.</h5>
                </div>
                <div class="ibox-content">
                    <div id="map" style="height: 75%; width: 80%;" ></div>
                    <aside class="toolbox">
                        <div class="box">
                            <header>
                                <h1>Reichweite</h1>
                            </header>

                            <section>
                                <div class="separator"></div>
                                <section class="usage">
                                    <p class="open-sans">Ändern Sie Ihren Guthaben um die Bildschirmanzahl zu bestimmen.</p>
                                </section>

                                <div id="controls">
                                    <div id="info">
                                        <h3>Guthaben/Preis</h3>
                                    </div>
                                    <div class="widget">
                                        <p class="open-sans">Intelligente Werbung auf <span class="js-display-placeholder">40 Bildschirmen </span>kosten <span class="js-price-placeholder">160€</span></p>
                                    </div>
                                    <input type="range" name="price" class="slider" min="10" max="1000" value="160" step="1" min-with-suffix="10€" max-with-suffix="1000€">
                                </div>
                            </section>

                            <footer class="js-footer"></footer>
                        </div>
                    </aside>
                    <script>
                        const inputRange = document.querySelector('#controls input[type=range]');
                        inputRange.style.setProperty('--value', (inputRange.value - inputRange.min) / 0.59);

                        const pricePlaceholder = document.querySelector('#controls .js-price-placeholder');
                        const displayPlaceholder = document.querySelector('#controls .js-display-placeholder');

                        function applyFilters (e) {
                            const maximumPrice = parseInt(e.target.value);

                            priceFilter.setFilters({ lte: maximumPrice });
                            pricePlaceholder.innerText = (maximumPrice * 8) + "€";
                            const displayCount = parseInt(maximumPrice * 2);
                            displayPlaceholder.innerText = displayCount + " Bildschirmen ";
                        }

                        function registerListeners () {
                            inputRange.addEventListener('input', e => {
                                inputRange.style.setProperty('--value', (inputRange.value - inputRange.min) / 0.59);
                            });

                            inputRange.addEventListener('change', e => {
                                applyFilters(e)
                            });
                        }

                        const map = L.map('map').setView([40.42252398976147, -3.659729361534119], 12);
                        map.scrollWheelZoom.disable();

                        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}.png', {
                            maxZoom: 18
                        }).addTo(map);

                        const client = new carto.Client({
                            apiKey: 'default_public',
                            username: 'cartojs-test'
                        });

                        const priceFilter = new carto.filter.Range('price', { lte: 40 });

                        const source = new carto.source.SQL('SELECT * FROM airbnb_listings');
                        source.addFilter(priceFilter);

                        const style = new carto.style.CartoCSS(`
                        #layer {
                          marker-width: 7;
                          marker-fill: #EE4D5A;
                          marker-line-color: #FFFFFF;
                          marker-fill: ramp([price], (#ffc6c4, #ee919b, #cc607d, #9e3963, #672044), quantiles);
                        }
                      `);
                        const layer = new carto.layer.Layer(source, style);

                        client.addLayer(layer);
                        client.getLeafletLayer().addTo(map);

                        registerListeners();
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock mainContainerContent %}