{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}

<div class="card">
    <div class="card-header">
      {{LanguageStrings.restartTutorial}}
    </div>
    <div class="card-body">
      <p class="card-text">{{LanguageStrings.clickButtonForRestart}}</p>
      <a href="#" class="btn btn-primary" onclick="restartTour()">{{LanguageStrings.restartTutorial}}</a>
    </div>
  </div>

{% endblock mainContainerContent %}