{% extends "/defaults/main.html.twig" %}

{% block mainContainerContent %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">{{LanguageStrings.generally}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="administration-tab" data-toggle="tab" href="#administration" role="tab" aria-controls="administration" aria-selected="false">{{LanguageStrings.administration}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profilepicture-tab" data-toggle="tab" href="#profilepicture" role="tab" aria-controls="profilepicture" aria-selected="false">{{LanguageStrings.profilepicture}}</a>
    </li>
</ul>
<div class="tab-content editUserProfilTabContent" id="myTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div name="messages" class="mt-2">
            <div id="success_alert_general" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="error_alert_general" class="alert alert-danger" role="alert" style="display:none;"></div>

            {% if FillAddresses is not null %}
                <div id="error_alert_general_FillAddresses" class="alert alert-danger" role="alert">{{ LanguageStrings.addYourAddressTo }}</div>
            {% endif %}

            <center id="general_spinner"  style="display:none;">
                <div class="spinner-border text-primary" role="status" ></div>
                <div class="alert alert-info" role="alert">
                   {{LanguageStrings.savePersonalData}}
                </div>
            </center>
        </div>
        <form id="formGeneral" class="mt-2">
            <h4>{{LanguageStrings.person}}</h4>
            <div class="form-group">
                <label for="salutation">{{LanguageStrings.salutation}}</label>
                <select id="salutation" class="form-control">
                    <option {% if app.user.salutation == "-" %} selected {% endif %}>-</option>
                    <option {% if app.user.salutation == "Herr" %} selected {% endif %}>{{LanguageStrings.mr}}</option>
                    <option {% if app.user.salutation == "Frau" %} selected {% endif %}>{{LanguageStrings.mrs}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstName">{{LanguageStrings.firstname}}</label>
                <input type="text" class="form-control" id="firstName" placeholder="{{LanguageStrings.firstname}}" value="{{app.user.firstname}}">
            </div>
            <div class="form-group">
                <label for="secondname">{{LanguageStrings.secondname}}</label>
                <input type="text" class="form-control" id="secondname" placeholder="{{LanguageStrings.secondname}}" value="{{app.user.secondname}}">
            </div>
            <div {% if FillAddresses is not null %} class="border border-danger" {% endif %}>
                <h4>{{LanguageStrings.billAddress}}</h4>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="billstreet">{{LanguageStrings.street}}</label>
                        <input type="text" class="form-control" id="billstreet" placeholder="{{LanguageStrings.street}}" value="{% if app.user.billingAddress is not null %}{{app.user.billingAddress.street}}{% endif %}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="billhouseNumber">{{LanguageStrings.houseNumber}}</label>
                        <input type="text" class="form-control" id="billhouseNumber" placeholder="{{LanguageStrings.houseNumber}}" value="{% if app.user.billingAddress is not null %}{{app.user.billingAddress.streetNumber}}{% endif %}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="billpostCode">{{LanguageStrings.postcode}}</label>
                        <input type="text" class="form-control" id="billpostCode" placeholder="{{LanguageStrings.postcode}}" value="{% if app.user.billingAddress is not null %}{{app.user.billingAddress.postCode}}{% endif %}" >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="billplace">{{LanguageStrings.place}}</label>
                        <input type="text" class="form-control" id="billplace" placeholder="{{LanguageStrings.place}}" value="{% if app.user.billingAddress is not null %}{{app.user.billingAddress.place}}{% endif %}">
                    </div>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
            <div {% if FillAddresses is not null %} class="border border-danger" {% endif %}>
                <h4>{{LanguageStrings.deliveryAddress2}}</h4>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="billfirstname">{{LanguageStrings.firstname}}</label>
                        <input type="text" class="form-control" id="billfirstname" placeholder="{{LanguageStrings.firstname}}" value="{% if app.user.billingAddress is not null %}{{app.user.deliveryAddress.differentFirstname}}{% endif %}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="billhousesecondname">{{LanguageStrings.secondname}}</label>
                        <input type="text" class="form-control" id="billhousesecondname" placeholder="{{LanguageStrings.secondname}}" value="{% if app.user.billingAddress is not null %}{{app.user.deliveryAddress.differentSecondName}}{% endif %}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="street">{{LanguageStrings.street}}</label>
                        <input type="text" class="form-control" id="street" placeholder="{{LanguageStrings.street}}" value="{% if app.user.deliveryAddress is not null %}{{app.user.deliveryAddress.street}}{% endif %}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="houseNumber">{{LanguageStrings.houseNumber}}</label>
                        <input type="text" class="form-control" id="houseNumber" placeholder="{{LanguageStrings.houseNumber}}" value="{% if app.user.deliveryAddress is not null %}{{app.user.deliveryAddress.streetNumber}}{% endif %}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="postCode">{{LanguageStrings.postcode}}</label>
                        <input type="text" class="form-control" id="postCode" placeholder="{{LanguageStrings.postcode}}" value="{% if app.user.deliveryAddress is not null %}{{app.user.deliveryAddress.postCode}}{% endif %}" >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="place">{{LanguageStrings.place}}</label>
                        <input type="text" class="form-control" id="place" placeholder="{{LanguageStrings.place}}" value="{% if app.user.deliveryAddress is not null %}{{app.user.deliveryAddress.place}}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="form-group col-md-6">
                    <button type="button" id="saveGeneral" onclick="editGeneral()" class="btn btn-primary">{{LanguageStrings.save}}</button>
                </div>
            </div>
        </form>
    </div>
    {####################################################################################################}
    <div class="tab-pane fade" id="administration" role="tabpanel" aria-labelledby="administration-tab">
        <div name="messages" class="mt-2">
            <div id="success_alert_administration" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="error_alert_administration" class="alert alert-danger" role="alert" style="display:none;"></div>
            <center id="administration_spinner"  style="display:none;">
                <div class="spinner-border text-primary" role="status" ></div>
                <div class="alert alert-info" role="alert">
                  {{LanguageStrings.accountDataWill}}
                </div>
            </center>
        </div>
        <form id="formAdministration">
            <div class="alert alert-warning" role="alert">{{LanguageStrings.incorrectChangesCanAbleToLogin}} </div>
            <div class="form-group">
                <label for="password">{{LanguageStrings.currentPassword}}</label>
                <input type="password" class="form-control" id="password" placeholder="Passwort">
                <small class="form-text text-muted">{{LanguageStrings.enterCurrentPassword}}</small>
            </div>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
            <h4>{{LanguageStrings.changePassword}}</h4>
            <div class="form-group">
                <label for="newPassword">{{LanguageStrings.newPassword}}</label>
                <input type="password" class="form-control" id="newPassword" placeholder="{{LanguageStrings.newPassword}}">
            </div>
            <div class="form-group">
                <label for="newPasswordRepeat">{{LanguageStrings.repeatnewPassword}}</label>
                <input type="password" class="form-control" id="newPasswordRepeat" placeholder="{{LanguageStrings.repeatnewPassword}}">
            </div>
            <small class="form-text text-muted">{{LanguageStrings.notChangePasswordLeaveFieldEmpty}}</small>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
            <h4>{{LanguageStrings.changeEmail}}</h4>
            <div class="form-group">
                <label for="newEmail">{{LanguageStrings.newEMailAdress}}</label>
                <input type="email" class="form-control" id="newEmail" placeholder="{{LanguageStrings.newEMailAdress}}" value="{{app.user.eMail}}">
            </div>
            <div class="form-group">
                <label for="newEmailRepeat">E-Mail-Adresse wiederholen</label>
                <input type="email" class="form-control" id="newEmailRepeat" placeholder="{{LanguageStrings.newEMailAdressRepeate}}" value="{{app.user.eMail}}">
            </div>
            <button type="button" id="saveAdministration" onclick="editAdministration()" class="btn btn-primary">{{LanguageStrings.save}}</button>
        </form>
    </div>
    {####################################################################################################}
    <div class="tab-pane fade" id="profilepicture" role="tabpanel" aria-labelledby="profilepicture-tab">
        <div name="messages" class="mt-2">
            <div id="success_alert_profilepicture" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="error_alert_profilepicture" class="alert alert-danger" role="alert" style="display:none;"></div>
            <center id="profilepicture_spinner"  style="display:none;">
                <div class="spinner-border text-primary" role="status" ></div>
                <div class="alert alert-info" role="alert">
                  {{LanguageStrings.profilepictureWillBeSaved}}
                </div>
            </center>
        </div>
        <form enctype="multipart/form-data" id="formprofilepicture" class="mt-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <div class="custom-file">
                        <input id="profilPictureUpload" type="file" name="image" class="custom-file-input">
                        <label for="profilPictureUpload" class="custom-file-label">{{LanguageStrings.chooseFile}}</label>
                    </div> 
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>{{LanguageStrings.profilepicture}}</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">

                                {% if profilePicture is not null %}
                                    <img alt="image" class="img-fluid previewProfilePicture" src="{{profilePicture}}">
                                {% else %}
                                    <img alt="image" class="img-fluid" src="./img/user-alt-solid.svg">
                                {% endif %}   
                            </div>
                        </div>

                        {% if profilePicture is not null %}
                            <button type="button" onclick="deleteUserProfilePicture()" class="btn btn-danger w-100"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="./scripts/user.js"></script>
<script>
$(document).ready(function () {
    $("#profilPictureUpload").on('change',function(){
        var extension = $('#profilPictureUpload').val().split('.').pop().toLowerCase();  
        if(jQuery.inArray(extension, ['gif','png','jpg','jpeg']) == -1)  
        {    
            $("#error_alert_profilpicture").html("{{LanguageStrings.pictureNotRightFormat}}");
            $("#error_alert_profilpicture").show();
            $('#profilPictureUpload').val('');  
            return false;  
        } 
        uploadUserProfilePicture(); 
    });
});
</script>
{% endblock mainContainerContent %}